In [1]:
import netCDF4 as nc
import pandas as pd 
import numpy as np
import glob

In [2]:
def seconds_to_datetime(seconds, ref='1900-01-01'):
    """ from seconds to datetime64 """
    seconds = np.asarray(seconds)
    return pd.to_datetime(seconds, unit='s', origin=ref).values

In [3]:
d = glob.glob('/mnt/users/scratch/leo/scratch/converted_v8/*11035*.nc')[0]
dd = nc.Dataset(d, 'r')
idx = dd['recordindices']['126'][:]
idx

masked_array(data=[40043490, 40043490, 40043490, ..., 49348283, 49353586,
                   49355889],
             mask=False,
       fill_value=999999)

In [4]:
f = glob.glob('/users/staff/a1400070/scratch/trajectory_files_new/traj*11035*.nc')[0]
ff = nc.Dataset(f, 'r')
ff['advanced_homogenisation']

<class 'netCDF4._netCDF4.Group'>
group /advanced_homogenisation:
    dimensions(sizes): phony_dim_0(88072698)
    variables(dimensions): float64 latitude_displacement(phony_dim_0), float64 longitude_displacement(phony_dim_0), float64 time_since_launch(phony_dim_0), float64 true_time(phony_dim_0)
    groups:

In [5]:
dic = {} 
for v in ['latitude_displacement', 'longitude_displacement','time_since_launch', 'true_time']:
    dic[v] = ff['advanced_homogenisation'][v][idx[0]:idx[-1]]
for v in ['date_time', 'observed_variable','observation_value', 'z_coordinate']:
    dic[v] = dd['observations_table'][v][idx[0]:idx[-1]]
dic['date_time'] = seconds_to_datetime(dic['date_time'])

In [6]:
df = pd.DataFrame.from_dict(dic)

In [7]:
df

,latitude_displacement,longitude_displacement,time_since_launch,true_time,date_time,observed_variable,observation_value,z_coordinate
0,NaN,NaN,NaN,NaN,1925-01-24 09:22:00,126,220.750000,4300.0
1,NaN,NaN,NaN,NaN,1925-01-24 09:22:00,126,220.550003,4400.0
2,NaN,NaN,NaN,NaN,1925-01-24 09:22:00,126,216.250000,5300.0
3,NaN,NaN,NaN,NaN,1925-01-24 09:22:00,126,215.850006,9200.0
4,NaN,NaN,NaN,NaN,1925-01-24 09:22:00,126,220.050003,10300.0
...,...,...,...,...,...,...,...,...
9312394,NaN,NaN,NaN,NaN,2021-12-31 11:33:21,126,288.529999,99320.0
9312395,NaN,NaN,NaN,NaN,2021-12-31 11:33:21,126,288.630005,99410.0
9312396,NaN,NaN,NaN,NaN,2021-12-31 11:33:21,126,288.809998,99540.0
9312397,NaN,NaN,NaN,NaN,2021-12-31 11:33:21,126,288.859985,99680.0
9312398,NaN,NaN,NaN,NaN,2021-12-31 11:33:21,126,288.850006,99840.0

In [8]:
df.dropna()

,latitude_displacement,longitude_displacement,time_since_launch,true_time,date_time,observed_variable,observation_value,z_coordinate
52,0.117855,0.708775,3103.430102,8.217893e+08,1926-01-16 09:57:00,126,221.550003,8800.0
53,0.117646,0.644220,2887.003917,8.217891e+08,1926-01-16 09:57:00,126,221.050003,10400.0
54,0.136531,0.511630,2451.985915,8.217887e+08,1926-01-16 09:57:00,126,226.149994,14500.0
55,0.160278,0.421162,2116.550530,8.217883e+08,1926-01-16 09:57:00,126,224.350006,18700.0
56,0.166892,0.394626,2001.786469,8.217882e+08,1926-01-16 09:57:00,126,226.250000,20400.0
...,...,...,...,...,...,...,...,...
9310091,0.000019,0.000173,5.100407,3.849896e+09,2021-12-30 23:30:25,126,286.739990,99405.0
9310092,0.000019,0.000170,5.015958,3.849896e+09,2021-12-30 23:30:25,126,286.739990,99410.0
9310093,0.000015,0.000131,3.921432,3.849896e+09,2021-12-30 23:30:25,126,285.309998,99475.0
9310094,0.000015,0.000128,3.837504,3.849896e+09,2021-12-30 23:30:25,126,285.309998,99480.0
9310095,0.000000,0.000000,0.000000,3.849896e+09,2021-12-30 23:30:25,126,282.390015,99710.0