In [12]:
import netCDF4 as nc
import pandas as pd 
f = '/scratch/das/federico/COP2_HARVEST_APRIL2022/era5_1/0-20000-0-10609_era5_1_harvested_era5.conv.??????.06597.txt.gz.nc'
ff = nc.Dataset(f, 'r')

In [4]:
ff

<class 'netCDF4._netCDF4.Dataset'>
root group (NETCDF4 data model, file format HDF5):
    dimensions(sizes): record(1), days(3), drange(1)
    variables(dimensions): int32 dateindex(days, drange), int32 recordindex(record), int64 recordtimestamp(record)
    groups: crs, era5fb, header_table, id_scheme, observations_table, observed_variable, sensor_configuration, source_configuration, station_configuration, station_configuration_codes, station_type, units, z_coordinate_type

In [25]:
dic = {} 
for v in ['date_time', 'observed_variable','z_coordinate', 'observation_value', 'latitude' , 'longitude']:
    dic[v] = ff['observations_table'][v][:]

<ipython-input-25-312fae48b223>:3: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dic[v] = ff['observations_table'][v][:]

In [26]:
df = pd.DataFrame.from_dict(dic)
df['date_time'] = pd.to_datetime( df.date_time , unit='s',  origin=pd.Timestamp('1900-01-01')  )

In [27]:
df

,date_time,observed_variable,z_coordinate,observation_value,latitude,longitude
0,1989-06-12 06:00:00,117,60069.828125,41190.000000,49.799999,6.45
1,1989-06-12 06:00:00,106,61260.773438,335.000000,49.799999,6.45
2,1989-06-12 06:00:00,107,61260.773438,13.000000,49.799999,6.45
3,1989-06-12 06:00:00,139,61260.773438,5.494038,49.799999,6.45
4,1989-06-12 06:00:00,140,61260.773438,-11.782001,49.799999,6.45
5,1989-06-12 06:00:00,117,78530.453125,20590.000000,49.799999,6.45
6,1989-06-12 06:00:00,106,79657.062500,350.000000,49.799999,6.45
7,1989-06-12 06:00:00,107,79657.062500,10.000000,49.799999,6.45
8,1989-06-12 06:00:00,139,79657.062500,1.736482,49.799999,6.45
9,1989-06-12 06:00:00,140,79657.062500,-9.848078,49.799999,6.45
10,1989-06-12 06:00:00,117,94330.804688,5880.000000,49.799999,6.45
11,1989-06-12 06:00:00,106,95447.914062,20.000000,49.799999,6.45
12,1989-06-12 06:00:00,107,95447.914062,3.000000,49.799999,6.45
13,1989-06-12 06:00:00,139,95447.914062,-1.026060,49.799999,6.45
14,1989-06-12 06:00:00,140,95447.914062,-2.819078,49.799999,6.45
15,1989-06-12 06:00:00,117,97777.281250,2940.000000,49.799999,6.45
16,1989-06-12 06:00:00,106,98899.843750,200.000000,49.799999,6.45
17,1989-06-12 06:00:00,107,98899.843750,3.000000,49.799999,6.45
18,1989-06-12 06:00:00,139,98899.843750,1.026060,49.799999,6.45
19,1989-06-12 06:00:00,140,98899.843750,2.819078,49.799999,6.45

In [39]:
merged = '/mnt/users/scratch/leo/scratch/converted_v8/0-20000-0-10609_CEUAS_merged_v1.nc'
ff = nc.Dataset(merged, 'r')
dic = {} 
for v in ['date_time', 'observed_variable','z_coordinate', 'z_coordinate_type', 'observation_value', 'latitude' , 'longitude', 'observation_id']:
    dic[v] = ff['observations_table'][v][:]
ids = [b''.join(i) for i in dic['observation_id'] ]
dic['observation_id'] = ids
df = pd.DataFrame.from_dict(dic)
df['date_time'] = pd.to_datetime( df.date_time , unit='s',  origin=pd.Timestamp('1900-01-01')  )

<ipython-input-39-863a25a821c2>:5: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dic[v] = ff['observations_table'][v][:]

IndexError: z_cooridnate_type not found in /observations_table

In [37]:
df = df.sort_values( by=['date_time'])

In [38]:
df

,date_time,observed_variable,z_coordinate,observation_value,latitude,longitude,observation_id
0,1924-01-07 13:00:00,106,1392.544312,0.000000e+00,49.750000,6.63,b'80000000000'
49,1924-01-07 13:00:00,140,14709.974609,4.619398e+00,49.750000,6.63,b'99000000006'
50,1924-01-07 13:00:00,140,19613.300781,0.000000e+00,49.750000,6.63,b'80000000007'
51,1924-01-07 13:00:00,140,29419.949219,-2.622683e-07,49.750000,6.63,b'99000000009'
52,1924-01-07 13:00:00,140,39226.601562,-2.771638e+00,49.750000,6.63,b'99000000011'
46,1924-01-07 13:00:00,140,1392.544312,0.000000e+00,49.799999,6.45,b'80000000000'
32,1924-01-07 13:00:00,139,1392.544312,0.000000e+00,49.799999,6.45,b'80000000000'
33,1924-01-07 13:00:00,139,4903.325195,1.530734e+00,49.750000,6.63,b'99000000002'
34,1924-01-07 13:00:00,139,9806.650391,-4.988818e+00,49.750000,6.63,b'99000000004'
20,1924-01-07 13:00:00,107,39226.601562,3.000000e+00,49.750000,6.63,b'80000000011'
19,1924-01-07 13:00:00,107,29419.949219,3.000000e+00,49.750000,6.63,b'80000000009'
18,1924-01-07 13:00:00,107,19613.300781,0.000000e+00,49.750000,6.63,b'80000000007'
17,1924-01-07 13:00:00,107,14709.974609,5.000000e+00,49.750000,6.63,b'80000000006'
16,1924-01-07 13:00:00,107,9806.650391,6.000000e+00,49.750000,6.63,b'80000000004'
48,1924-01-07 13:00:00,140,9806.650391,3.333421e+00,49.750000,6.63,b'99000000004'
15,1924-01-07 13:00:00,107,4903.325195,4.000000e+00,49.750000,6.63,b'80000000002'
35,1924-01-07 13:00:00,139,14709.974609,1.913417e+00,49.750000,6.63,b'99000000006'
36,1924-01-07 13:00:00,139,19613.300781,0.000000e+00,49.750000,6.63,b'80000000007'
37,1924-01-07 13:00:00,139,29419.949219,-3.000000e+00,49.750000,6.63,b'99000000009'
38,1924-01-07 13:00:00,139,39226.601562,1.148050e+00,49.750000,6.63,b'99000000011'
6,1924-01-07 13:00:00,106,39226.601562,3.375000e+02,49.750000,6.63,b'80000000010'
5,1924-01-07 13:00:00,106,29419.949219,9.000000e+01,49.750000,6.63,b'80000000008'
4,1924-01-07 13:00:00,106,19613.300781,0.000000e+00,49.750000,6.63,b'80000000007'
3,1924-01-07 13:00:00,106,14709.974609,2.025000e+02,49.750000,6.63,b'80000000005'
2,1924-01-07 13:00:00,106,9806.650391,1.237500e+02,49.750000,6.63,b'80000000003'
1,1924-01-07 13:00:00,106,4903.325195,2.025000e+02,49.750000,6.63,b'80000000001'
14,1924-01-07 13:00:00,107,1392.544312,0.000000e+00,49.799999,6.45,b'80000000000'
47,1924-01-07 13:00:00,140,4903.325195,3.695518e+00,49.750000,6.63,b'99000000002'
39,1927-11-13 10:00:00,139,4903.325195,-2.296102e+00,49.750000,6.63,b'99000000013'
40,1927-11-13 10:00:00,139,9806.650391,-3.923141e+00,49.750000,6.63,b'99000000015'
41,1927-11-13 10:00:00,139,19613.300781,-5.656855e+00,49.750000,6.63,b'99000000017'
21,1927-11-13 10:00:00,107,4903.325195,6.000000e+00,49.750000,6.63,b'80000000013'
23,1927-11-13 10:00:00,107,19613.300781,8.000000e+00,49.750000,6.63,b'80000000017'
22,1927-11-13 10:00:00,107,9806.650391,4.000000e+00,49.750000,6.63,b'80000000015'
54,1927-11-13 10:00:00,140,9806.650391,-7.803610e-01,49.750000,6.63,b'99000000015'
55,1927-11-13 10:00:00,140,19613.300781,-5.656854e+00,49.750000,6.63,b'99000000017'
9,1927-11-13 10:00:00,106,19613.300781,4.500000e+01,49.750000,6.63,b'80000000016'
8,1927-11-13 10:00:00,106,9806.650391,7.875000e+01,49.750000,6.63,b'80000000014'
7,1927-11-13 10:00:00,106,4903.325195,2.250000e+01,49.750000,6.63,b'80000000012'
53,1927-11-13 10:00:00,140,4903.325195,-5.543277e+00,49.750000,6.63,b'99000000013'
45,1989-06-12 06:00:00,139,98899.843750,1.026060e+00,49.799999,6.45,b'10000000018'
56,1989-06-12 06:00:00,140,61260.773438,-1.178200e+01,49.799999,6.45,b'10000000004'
57,1989-06-12 06:00:00,140,79657.062500,-9.848078e+00,49.799999,6.45,b'10000000009'
44,1989-06-12 06:00:00,139,95447.914062,-1.026060e+00,49.799999,6.45,b'10000000013'
29,1989-06-12 06:00:00,117,78530.453125,2.059000e+04,49.799999,6.45,b'10000000005'
42,1989-06-12 06:00:00,139,61260.773438,5.494038e+00,49.799999,6.45,b'10000000003'
31,1989-06-12 06:00:00,117,97777.281250,2.940000e+03,49.799999,6.45,b'10000000015'
30,1989-06-12 06:00:00,117,94330.804688,5.880000e+03,49.799999,6.45,b'10000000010'
58,1989-06-12 06:00:00,140,95447.914062,-2.819078e+00,49.799999,6.45,b'10000000014'
28,1989-06-12 06:00:00,117,60069.828125,4.119000e+04,49.799999,6.45,b'10000000000'
27,1989-06-12 06:00:00,107,98899.843750,3.000000e+00,49.799999,6.45,b'10000000017'
26,1989-06-12 06:00:00,107,95447.914062,3.000000e+00,49.799999,6.45,b'10000000012'
25,1989-06-12 06:00:00,107,79657.062500,1.000000e+01,49.799999,6.45,b'10000000007'
24,1989-06-12 06:00:00,107,61260.773438,1.300000e+01,49.799999,6.45,b'10000000002'
13,1989-06-12 06:00:00,106,98899.843750,2.000000e+02,49.799999,6.45,b'10000000016'
12,1989-06-12 06:00:00,106,95447.914062,2.000000e+01,49.799999,6.45,b'10000000011'
11,1989-06-12 06:00:00,106,79657.062500,3.500000e+02,49.799999,6.45,b'10000000006'
10,1989-06-12 06:00:00,106,61260.773438,3.350000e+02,49.799999,6.45,b'10000000001'
43,1989-06-12 06:00:00,139,79657.062500,1.736482e+00,49.799999,6.45,b'10000000008'
59,1989-06-12 06:00:00,140,98899.843750,2.819078e+00,49.799999,6.45,b'10000000019'