In [1]:
import netCDF4 as nc
import pandas as pd 
f = '/scratch/das/federico/COP2_HARVEST_APRIL2022/era5_1/0-20000-0-10609_era5_1_harvested_era5.conv.??????.06597.txt.gz.nc'
ff = nc.Dataset(f, 'r')

In [2]:
ff

<class 'netCDF4._netCDF4.Dataset'>
root group (NETCDF4 data model, file format HDF5):
    dimensions(sizes): record(1), days(3), drange(1)
    variables(dimensions): int32 dateindex(days, drange), int32 recordindex(record), int64 recordtimestamp(record)
    groups: crs, era5fb, header_table, id_scheme, observations_table, observed_variable, sensor_configuration, source_configuration, station_configuration, station_configuration_codes, station_type, units, z_coordinate_type

In [3]:
dic = {} 
for v in ['date_time', 'observed_variable','z_coordinate', 'observation_value', 'latitude' , 'longitude']:
    dic[v] = ff['observations_table'][v][:]

<ipython-input-3-312fae48b223>:3: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dic[v] = ff['observations_table'][v][:]

In [4]:
df = pd.DataFrame.from_dict(dic)
df['date_time'] = pd.to_datetime( df.date_time , unit='s',  origin=pd.Timestamp('1900-01-01')  )

In [5]:
df

,date_time,observed_variable,z_coordinate,observation_value,latitude,longitude
0,1989-06-12 06:00:00,117,60069.828125,41190.000000,49.799999,6.45
1,1989-06-12 06:00:00,106,61260.773438,335.000000,49.799999,6.45
2,1989-06-12 06:00:00,107,61260.773438,13.000000,49.799999,6.45
3,1989-06-12 06:00:00,139,61260.773438,5.494038,49.799999,6.45
4,1989-06-12 06:00:00,140,61260.773438,-11.782001,49.799999,6.45
5,1989-06-12 06:00:00,117,78530.453125,20590.000000,49.799999,6.45
6,1989-06-12 06:00:00,106,79657.062500,350.000000,49.799999,6.45
7,1989-06-12 06:00:00,107,79657.062500,10.000000,49.799999,6.45
8,1989-06-12 06:00:00,139,79657.062500,1.736482,49.799999,6.45
9,1989-06-12 06:00:00,140,79657.062500,-9.848078,49.799999,6.45
10,1989-06-12 06:00:00,117,94330.804688,5880.000000,49.799999,6.45
11,1989-06-12 06:00:00,106,95447.914062,20.000000,49.799999,6.45
12,1989-06-12 06:00:00,107,95447.914062,3.000000,49.799999,6.45
13,1989-06-12 06:00:00,139,95447.914062,-1.026060,49.799999,6.45
14,1989-06-12 06:00:00,140,95447.914062,-2.819078,49.799999,6.45
15,1989-06-12 06:00:00,117,97777.281250,2940.000000,49.799999,6.45
16,1989-06-12 06:00:00,106,98899.843750,200.000000,49.799999,6.45
17,1989-06-12 06:00:00,107,98899.843750,3.000000,49.799999,6.45
18,1989-06-12 06:00:00,139,98899.843750,1.026060,49.799999,6.45
19,1989-06-12 06:00:00,140,98899.843750,2.819078,49.799999,6.45

In [6]:
merged = '/mnt/users/scratch/leo/scratch/converted_v8/0-20000-0-10609_CEUAS_merged_v1.nc'
ff = nc.Dataset(merged, 'r')
dic = {} 
for v in ['date_time', 'observed_variable','z_coordinate', 'z_coordinate_type', 'observation_value', 'latitude' , 'longitude', 'observation_id']:
    dic[v] = ff['observations_table'][v][:]
ids = [b''.join(i) for i in dic['observation_id'] ]
dic['observation_id'] = ids
df = pd.DataFrame.from_dict(dic)
df['date_time'] = pd.to_datetime( df.date_time , unit='s',  origin=pd.Timestamp('1900-01-01')  )

<ipython-input-6-a347f4255085>:5: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dic[v] = ff['observations_table'][v][:]

In [7]:
df = df.sort_values( by=['date_time'])

# Converted v8
- wrong observations_id, they get messed up. They should begin with "9" , they are not sequential

In [8]:
df

,date_time,observed_variable,z_coordinate,z_coordinate_type,observation_value,latitude,longitude,observation_id
0,1924-01-07 13:00:00,106,1392.544312,2,0.000000e+00,49.750000,6.63,b'80000000000'
49,1924-01-07 13:00:00,140,14709.974609,2,4.619398e+00,49.750000,6.63,b'99000000006'
50,1924-01-07 13:00:00,140,19613.300781,2,0.000000e+00,49.750000,6.63,b'80000000007'
51,1924-01-07 13:00:00,140,29419.949219,2,-2.622683e-07,49.750000,6.63,b'99000000009'
52,1924-01-07 13:00:00,140,39226.601562,2,-2.771638e+00,49.750000,6.63,b'99000000011'
46,1924-01-07 13:00:00,140,1392.544312,2,0.000000e+00,49.799999,6.45,b'80000000000'
32,1924-01-07 13:00:00,139,1392.544312,2,0.000000e+00,49.799999,6.45,b'80000000000'
33,1924-01-07 13:00:00,139,4903.325195,2,1.530734e+00,49.750000,6.63,b'99000000002'
34,1924-01-07 13:00:00,139,9806.650391,2,-4.988818e+00,49.750000,6.63,b'99000000004'
20,1924-01-07 13:00:00,107,39226.601562,2,3.000000e+00,49.750000,6.63,b'80000000011'
19,1924-01-07 13:00:00,107,29419.949219,2,3.000000e+00,49.750000,6.63,b'80000000009'
18,1924-01-07 13:00:00,107,19613.300781,2,0.000000e+00,49.750000,6.63,b'80000000007'
17,1924-01-07 13:00:00,107,14709.974609,2,5.000000e+00,49.750000,6.63,b'80000000006'
16,1924-01-07 13:00:00,107,9806.650391,2,6.000000e+00,49.750000,6.63,b'80000000004'
48,1924-01-07 13:00:00,140,9806.650391,2,3.333421e+00,49.750000,6.63,b'99000000004'
15,1924-01-07 13:00:00,107,4903.325195,2,4.000000e+00,49.750000,6.63,b'80000000002'
35,1924-01-07 13:00:00,139,14709.974609,2,1.913417e+00,49.750000,6.63,b'99000000006'
36,1924-01-07 13:00:00,139,19613.300781,2,0.000000e+00,49.750000,6.63,b'80000000007'
37,1924-01-07 13:00:00,139,29419.949219,2,-3.000000e+00,49.750000,6.63,b'99000000009'
38,1924-01-07 13:00:00,139,39226.601562,2,1.148050e+00,49.750000,6.63,b'99000000011'
6,1924-01-07 13:00:00,106,39226.601562,2,3.375000e+02,49.750000,6.63,b'80000000010'
5,1924-01-07 13:00:00,106,29419.949219,2,9.000000e+01,49.750000,6.63,b'80000000008'
4,1924-01-07 13:00:00,106,19613.300781,2,0.000000e+00,49.750000,6.63,b'80000000007'
3,1924-01-07 13:00:00,106,14709.974609,2,2.025000e+02,49.750000,6.63,b'80000000005'
2,1924-01-07 13:00:00,106,9806.650391,2,1.237500e+02,49.750000,6.63,b'80000000003'
1,1924-01-07 13:00:00,106,4903.325195,2,2.025000e+02,49.750000,6.63,b'80000000001'
14,1924-01-07 13:00:00,107,1392.544312,2,0.000000e+00,49.799999,6.45,b'80000000000'
47,1924-01-07 13:00:00,140,4903.325195,2,3.695518e+00,49.750000,6.63,b'99000000002'
39,1927-11-13 10:00:00,139,4903.325195,2,-2.296102e+00,49.750000,6.63,b'99000000013'
40,1927-11-13 10:00:00,139,9806.650391,2,-3.923141e+00,49.750000,6.63,b'99000000015'
41,1927-11-13 10:00:00,139,19613.300781,2,-5.656855e+00,49.750000,6.63,b'99000000017'
21,1927-11-13 10:00:00,107,4903.325195,2,6.000000e+00,49.750000,6.63,b'80000000013'
23,1927-11-13 10:00:00,107,19613.300781,2,8.000000e+00,49.750000,6.63,b'80000000017'
22,1927-11-13 10:00:00,107,9806.650391,2,4.000000e+00,49.750000,6.63,b'80000000015'
54,1927-11-13 10:00:00,140,9806.650391,2,-7.803610e-01,49.750000,6.63,b'99000000015'
55,1927-11-13 10:00:00,140,19613.300781,2,-5.656854e+00,49.750000,6.63,b'99000000017'
9,1927-11-13 10:00:00,106,19613.300781,2,4.500000e+01,49.750000,6.63,b'80000000016'
8,1927-11-13 10:00:00,106,9806.650391,2,7.875000e+01,49.750000,6.63,b'80000000014'
7,1927-11-13 10:00:00,106,4903.325195,2,2.250000e+01,49.750000,6.63,b'80000000012'
53,1927-11-13 10:00:00,140,4903.325195,2,-5.543277e+00,49.750000,6.63,b'99000000013'
45,1989-06-12 06:00:00,139,98899.843750,1,1.026060e+00,49.799999,6.45,b'10000000018'
56,1989-06-12 06:00:00,140,61260.773438,1,-1.178200e+01,49.799999,6.45,b'10000000004'
57,1989-06-12 06:00:00,140,79657.062500,1,-9.848078e+00,49.799999,6.45,b'10000000009'
44,1989-06-12 06:00:00,139,95447.914062,1,-1.026060e+00,49.799999,6.45,b'10000000013'
29,1989-06-12 06:00:00,117,78530.453125,1,2.059000e+04,49.799999,6.45,b'10000000005'
42,1989-06-12 06:00:00,139,61260.773438,1,5.494038e+00,49.799999,6.45,b'10000000003'
31,1989-06-12 06:00:00,117,97777.281250,1,2.940000e+03,49.799999,6.45,b'10000000015'
30,1989-06-12 06:00:00,117,94330.804688,1,5.880000e+03,49.799999,6.45,b'10000000010'
58,1989-06-12 06:00:00,140,95447.914062,1,-2.819078e+00,49.799999,6.45,b'10000000014'
28,1989-06-12 06:00:00,117,60069.828125,1,4.119000e+04,49.799999,6.45,b'10000000000'
27,1989-06-12 06:00:00,107,98899.843750,1,3.000000e+00,49.799999,6.45,b'10000000017'
26,1989-06-12 06:00:00,107,95447.914062,1,3.000000e+00,49.799999,6.45,b'10000000012'
25,1989-06-12 06:00:00,107,79657.062500,1,1.000000e+01,49.799999,6.45,b'10000000007'
24,1989-06-12 06:00:00,107,61260.773438,1,1.300000e+01,49.799999,6.45,b'10000000002'
13,1989-06-12 06:00:00,106,98899.843750,1,2.000000e+02,49.799999,6.45,b'10000000016'
12,1989-06-12 06:00:00,106,95447.914062,1,2.000000e+01,49.799999,6.45,b'10000000011'
11,1989-06-12 06:00:00,106,79657.062500,1,3.500000e+02,49.799999,6.45,b'10000000006'
10,1989-06-12 06:00:00,106,61260.773438,1,3.350000e+02,49.799999,6.45,b'10000000001'
43,1989-06-12 06:00:00,139,79657.062500,1,1.736482e+00,49.799999,6.45,b'10000000008'
59,1989-06-12 06:00:00,140,98899.843750,1,2.819078e+00,49.799999,6.45,b'10000000019'

In [10]:
dic = {} 
ff['header_table']

<class 'netCDF4._netCDF4.Group'>
group /header_table:
    dimensions(sizes): phony_dim_12(3), phony_dim_13(20), phony_dim_14(15), phony_dim_15(11), phony_dim_16(9), phony_dim_17(16)
    variables(dimensions): float64 application_area(phony_dim_12), int32 crs(phony_dim_12), int32 duplicate_status(phony_dim_12), float64 duplicates(phony_dim_12), float64 events_at_station(phony_dim_12), float32 height_of_station_above_local_ground(phony_dim_12), float32 height_of_station_above_sea_level(phony_dim_12), float32 height_of_station_above_sea_level_accuracy(phony_dim_12), |S1 index(phony_dim_12), |S1 instrument(phony_dim_12, phony_dim_13), float32 latitude(phony_dim_12), float32 location_accuracy(phony_dim_12), int32 location_method(phony_dim_12), int32 location_quality(phony_dim_12), float32 longitude(phony_dim_12), int32 number_of_pressure_levels(phony_dim_12), float64 observing_programme(phony_dim_12), |S1 owner(phony_dim_12, phony_dim_13), int32 platform_sub_type(phony_dim_12), int32 platform_type(phony_dim_12), |S1 primary_station_id(phony_dim_12, phony_dim_14), int32 primary_station_id_scheme(phony_dim_12), float64 processing_codes(phony_dim_12), int32 processing_level(phony_dim_12), |S1 product_name(phony_dim_12, phony_dim_13), int32 product_version(phony_dim_12), |S1 profile_id(phony_dim_12, phony_dim_13), int64 record_timestamp(phony_dim_12), |S1 references(phony_dim_12, phony_dim_13), int32 region(phony_dim_12), int32 report_duration(phony_dim_12), |S1 report_id(phony_dim_12, phony_dim_15), int32 report_meaning_of_timestamp(phony_dim_12), int32 report_quality(phony_dim_12), int64 report_synoptic_time(phony_dim_12), float32 report_time_accuracy(phony_dim_12), int32 report_time_quality(phony_dim_12), int32 report_time_reference(phony_dim_12), int64 report_timestamp(phony_dim_12), int32 report_type(phony_dim_12), int32 sea_level_datum(phony_dim_12), |S1 source_id(phony_dim_12, phony_dim_16), |S1 source_record_id(phony_dim_12, phony_dim_13), float32 station_course(phony_dim_12), float32 station_heading(phony_dim_12), |S1 station_name(phony_dim_12, phony_dim_17), int32 station_record_number(phony_dim_12), float32 station_speed(phony_dim_12), int32 station_type(phony_dim_12), |S1 string11(phony_dim_15), |S1 string15(phony_dim_14), |S1 string16(phony_dim_17), |S1 string20(phony_dim_13), |S1 string9(phony_dim_16), int32 sub_region(phony_dim_12)
    groups:

In [17]:
for v in ['report_id', 'report_timestamp','record_timestamp', 'latitude' , 'longitude']:
    dic[v] = ff['header_table'][v][:]
    
ids = [b''.join(i) for i in dic['report_id'] ]
dic['report_id'] = ids
df = pd.DataFrame.from_dict(dic)
df['report_timestamp'] = pd.to_datetime( df.report_timestamp , unit='s',  origin=pd.Timestamp('1900-01-01')  )
df['record_timestamp'] = pd.to_datetime( df.record_timestamp , unit='s',  origin=pd.Timestamp('1900-01-01')  )

<ipython-input-17-4144c40b3a0f>:2: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dic[v] = ff['header_table'][v][:]

# Header table

In [18]:
df

,report_id,report_timestamp,record_timestamp,latitude,longitude,record_id
0,b'80000000000',1924-01-07 13:00:00,1924-01-07 13:00:00,49.750000,6.63,b'80000000000'
1,b'80000000001',1927-11-13 10:00:00,1927-11-13 10:00:00,49.750000,6.63,b'80000000001'
2,b'10000000000',1989-06-12 06:00:00,1989-06-12 06:00:00,49.799999,6.45,b'10000000000'

In [19]:
f = '/scratch/das/federico/old_MERGED_APRIL2022/0-20000-0-10609_CEUAS_merged_v1.nc'
ff = nc.Dataset(f, 'r')
dic = {} 
for v in ['date_time', 'observed_variable','z_coordinate', 'z_coordinate_type', 'observation_value', 'latitude' , 'longitude', 'observation_id']:
    dic[v] = ff['observations_table'][v][:]
ids = [b''.join(i) for i in dic['observation_id'] ]
dic['observation_id'] = ids
df = pd.DataFrame.from_dict(dic)
df['date_time'] = pd.to_datetime( df.date_time , unit='s',  origin=pd.Timestamp('1900-01-01')  )

<ipython-input-19-ac7f0ac08503>:7: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dic[v] = ff['observations_table'][v][:]

# Version of merged database - right after merging and after adding sensor_id

In [20]:
df

,date_time,observed_variable,z_coordinate,z_coordinate_type,observation_value,latitude,longitude,observation_id
0,1924-01-07 13:00:00,107,1392.544312,2,0.000000,49.750000,6.63,b'80000000000'
1,1924-01-07 13:00:00,106,4903.325195,2,202.500000,49.750000,6.63,b'80000000001'
2,1924-01-07 13:00:00,107,4903.325195,2,4.000000,49.750000,6.63,b'80000000002'
3,1924-01-07 13:00:00,106,9806.650391,2,123.750000,49.750000,6.63,b'80000000003'
4,1924-01-07 13:00:00,107,9806.650391,2,6.000000,49.750000,6.63,b'80000000004'
5,1924-01-07 13:00:00,106,14709.974609,2,202.500000,49.750000,6.63,b'80000000005'
6,1924-01-07 13:00:00,107,14709.974609,2,5.000000,49.750000,6.63,b'80000000006'
7,1924-01-07 13:00:00,107,19613.300781,2,0.000000,49.750000,6.63,b'80000000007'
8,1924-01-07 13:00:00,106,29419.949219,2,90.000000,49.750000,6.63,b'80000000008'
9,1924-01-07 13:00:00,107,29419.949219,2,3.000000,49.750000,6.63,b'80000000009'
10,1924-01-07 13:00:00,106,39226.601562,2,337.500000,49.750000,6.63,b'80000000010'
11,1924-01-07 13:00:00,107,39226.601562,2,3.000000,49.750000,6.63,b'80000000011'
12,1927-11-13 10:00:00,106,4903.325195,2,22.500000,49.750000,6.63,b'80000000012'
13,1927-11-13 10:00:00,107,4903.325195,2,6.000000,49.750000,6.63,b'80000000013'
14,1927-11-13 10:00:00,106,9806.650391,2,78.750000,49.750000,6.63,b'80000000014'
15,1927-11-13 10:00:00,107,9806.650391,2,4.000000,49.750000,6.63,b'80000000015'
16,1927-11-13 10:00:00,106,19613.300781,2,45.000000,49.750000,6.63,b'80000000016'
17,1927-11-13 10:00:00,107,19613.300781,2,8.000000,49.750000,6.63,b'80000000017'
18,1989-06-12 06:00:00,117,60069.828125,1,41190.000000,49.799999,6.45,b'10000000000'
19,1989-06-12 06:00:00,106,61260.773438,1,335.000000,49.799999,6.45,b'10000000001'
20,1989-06-12 06:00:00,107,61260.773438,1,13.000000,49.799999,6.45,b'10000000002'
21,1989-06-12 06:00:00,139,61260.773438,1,5.494038,49.799999,6.45,b'10000000003'
22,1989-06-12 06:00:00,140,61260.773438,1,-11.782001,49.799999,6.45,b'10000000004'
23,1989-06-12 06:00:00,117,78530.453125,1,20590.000000,49.799999,6.45,b'10000000005'
24,1989-06-12 06:00:00,106,79657.062500,1,350.000000,49.799999,6.45,b'10000000006'
25,1989-06-12 06:00:00,107,79657.062500,1,10.000000,49.799999,6.45,b'10000000007'
26,1989-06-12 06:00:00,139,79657.062500,1,1.736482,49.799999,6.45,b'10000000008'
27,1989-06-12 06:00:00,140,79657.062500,1,-9.848078,49.799999,6.45,b'10000000009'
28,1989-06-12 06:00:00,117,94330.804688,1,5880.000000,49.799999,6.45,b'10000000010'
29,1989-06-12 06:00:00,106,95447.914062,1,20.000000,49.799999,6.45,b'10000000011'
30,1989-06-12 06:00:00,107,95447.914062,1,3.000000,49.799999,6.45,b'10000000012'
31,1989-06-12 06:00:00,139,95447.914062,1,-1.026060,49.799999,6.45,b'10000000013'
32,1989-06-12 06:00:00,140,95447.914062,1,-2.819078,49.799999,6.45,b'10000000014'
33,1989-06-12 06:00:00,117,97777.281250,1,2940.000000,49.799999,6.45,b'10000000015'
34,1989-06-12 06:00:00,106,98899.843750,1,200.000000,49.799999,6.45,b'10000000016'
35,1989-06-12 06:00:00,107,98899.843750,1,3.000000,49.799999,6.45,b'10000000017'
36,1989-06-12 06:00:00,139,98899.843750,1,1.026060,49.799999,6.45,b'10000000018'
37,1989-06-12 06:00:00,140,98899.843750,1,2.819078,49.799999,6.45,b'10000000019'

In [21]:
f = '/scratch/das/federico/MERGED_25FEB2022/0-20000-0-10609_CEUAS_merged_v1.nc'
ff = nc.Dataset(f, 'r')
dic = {} 
for v in ['date_time', 'observed_variable','z_coordinate', 'z_coordinate_type', 'observation_value', 'latitude' , 'longitude', 'observation_id']:
    dic[v] = ff['observations_table'][v][:]
ids = [b''.join(i) for i in dic['observation_id'] ]
dic['observation_id'] = ids
df = pd.DataFrame.from_dict(dic)
df['date_time'] = pd.to_datetime( df.date_time , unit='s',  origin=pd.Timestamp('1900-01-01')  )

<ipython-input-21-117eac1f65bc>:5: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dic[v] = ff['observations_table'][v][:]

# Another version of merged database - right after merging and after adding sensor_id

In [22]:
df

,date_time,observed_variable,z_coordinate,z_coordinate_type,observation_value,latitude,longitude,observation_id
0,1924-01-07 13:00:00,107,1392.544312,2,0.000000,49.750000,6.63,b'80000000000'
1,1924-01-07 13:00:00,106,4903.325195,2,202.500000,49.750000,6.63,b'80000000001'
2,1924-01-07 13:00:00,107,4903.325195,2,4.000000,49.750000,6.63,b'80000000002'
3,1924-01-07 13:00:00,106,9806.650391,2,123.750000,49.750000,6.63,b'80000000003'
4,1924-01-07 13:00:00,107,9806.650391,2,6.000000,49.750000,6.63,b'80000000004'
5,1924-01-07 13:00:00,106,14709.974609,2,202.500000,49.750000,6.63,b'80000000005'
6,1924-01-07 13:00:00,107,14709.974609,2,5.000000,49.750000,6.63,b'80000000006'
7,1924-01-07 13:00:00,107,19613.300781,2,0.000000,49.750000,6.63,b'80000000007'
8,1924-01-07 13:00:00,106,29419.949219,2,90.000000,49.750000,6.63,b'80000000008'
9,1924-01-07 13:00:00,107,29419.949219,2,3.000000,49.750000,6.63,b'80000000009'
10,1924-01-07 13:00:00,106,39226.601562,2,337.500000,49.750000,6.63,b'80000000010'
11,1924-01-07 13:00:00,107,39226.601562,2,3.000000,49.750000,6.63,b'80000000011'
12,1927-11-13 10:00:00,106,4903.325195,2,22.500000,49.750000,6.63,b'80000000012'
13,1927-11-13 10:00:00,107,4903.325195,2,6.000000,49.750000,6.63,b'80000000013'
14,1927-11-13 10:00:00,106,9806.650391,2,78.750000,49.750000,6.63,b'80000000014'
15,1927-11-13 10:00:00,107,9806.650391,2,4.000000,49.750000,6.63,b'80000000015'
16,1927-11-13 10:00:00,106,19613.300781,2,45.000000,49.750000,6.63,b'80000000016'
17,1927-11-13 10:00:00,107,19613.300781,2,8.000000,49.750000,6.63,b'80000000017'
18,1989-06-12 06:00:00,117,60069.828125,1,41190.000000,49.799999,6.45,b'10000000000'
19,1989-06-12 06:00:00,106,61260.773438,1,335.000000,49.799999,6.45,b'10000000001'
20,1989-06-12 06:00:00,107,61260.773438,1,13.000000,49.799999,6.45,b'10000000002'
21,1989-06-12 06:00:00,139,61260.773438,1,5.494038,49.799999,6.45,b'10000000003'
22,1989-06-12 06:00:00,140,61260.773438,1,-11.782001,49.799999,6.45,b'10000000004'
23,1989-06-12 06:00:00,117,78530.453125,1,20590.000000,49.799999,6.45,b'10000000005'
24,1989-06-12 06:00:00,106,79657.062500,1,350.000000,49.799999,6.45,b'10000000006'
25,1989-06-12 06:00:00,107,79657.062500,1,10.000000,49.799999,6.45,b'10000000007'
26,1989-06-12 06:00:00,139,79657.062500,1,1.736482,49.799999,6.45,b'10000000008'
27,1989-06-12 06:00:00,140,79657.062500,1,-9.848078,49.799999,6.45,b'10000000009'
28,1989-06-12 06:00:00,117,94330.804688,1,5880.000000,49.799999,6.45,b'10000000010'
29,1989-06-12 06:00:00,106,95447.914062,1,20.000000,49.799999,6.45,b'10000000011'
30,1989-06-12 06:00:00,107,95447.914062,1,3.000000,49.799999,6.45,b'10000000012'
31,1989-06-12 06:00:00,139,95447.914062,1,-1.026060,49.799999,6.45,b'10000000013'
32,1989-06-12 06:00:00,140,95447.914062,1,-2.819078,49.799999,6.45,b'10000000014'
33,1989-06-12 06:00:00,117,97777.281250,1,2940.000000,49.799999,6.45,b'10000000015'
34,1989-06-12 06:00:00,106,98899.843750,1,200.000000,49.799999,6.45,b'10000000016'
35,1989-06-12 06:00:00,107,98899.843750,1,3.000000,49.799999,6.45,b'10000000017'
36,1989-06-12 06:00:00,139,98899.843750,1,1.026060,49.799999,6.45,b'10000000018'
37,1989-06-12 06:00:00,140,98899.843750,1,2.819078,49.799999,6.45,b'10000000019'