In [2]:
import glob, os, sys
import xarray as xr
import numpy as np
import pandas as pd
import netCDF4 as nc
import pickle

sys.path.append(os.getcwd()+'/../cds-backend/code/')
import cds_eua4 as eua

import netCDF4
#First import the netcdf4 library
from netCDF4 import Dataset  # http://code.google.com/p/netcdf4-python/

In [97]:
from datetime import datetime, timedelta
def to_days_since(time_elapsed: int, reference=None):
    if reference is None:
        reference = datetime(1900, 1, 1)
    time_elapsed = time_elapsed*100 + 2
    fstart = [datetime.strptime(str(date), '%Y%m%d') for date in time_elapsed]
    out = [int((dt - reference).days) for dt in fstart]
    return out

In [102]:
a = [0,2,3]+[1]

In [3]:
pickle.load( open( "dfsh.p", "rb" ) )

array([7.8159077e-03, 2.2735198e-04, 1.0142817e-05, 7.8557190e-05,
       2.1447852e-04, 1.6423521e-03, 5.6619983e-04, 1.1192377e-03,
       1.8490475e-04, 2.4349842e-04, 5.4645562e-04, 1.1017181e-03,
       3.6501088e-03, 1.0858819e-02, 1.3525248e-02, 1.6088629e-02],
      dtype=float32)

In [125]:
ds = nc.Dataset(glob.glob('./bt_nc_20220819/011035/*un*')[0], 'r', format='NETCDF4')

In [121]:
nc.Dataset(glob.glob('./bt_nc_20220819/011035/*un*')[0], 'r').to_dataframe()

AttributeError: NetCDF: Attribute not found

In [116]:
ds.to_dataframe()

AttributeError: NetCDF: Attribute not found

In [98]:
def days_to_datetime(seconds, ref='1900-01-01'):
    """ from seconds since 1900-01-01 00:00:00 to datetime64 """
    start = datetime(1900, 1, 1)
    return start + timedelta(days=seconds)

In [100]:
to_days_since(np.array([195802, 190003]))

[datetime.datetime(1958, 2, 2, 0, 0), datetime.datetime(1900, 3, 2, 0, 0)]

[21216, 60]

In [76]:
for i in [21216, 21244, 21275, 21305, 21336, 21366, 21397, 21428, 21458, 21489, 
    21519, 21550, 21581, 21609, 21640, 21670, 21701, 21731, 21762, 21793, 
    21823, 21854, 21884, 21915, 21946, 21975, 22006, 22036, 22067, 22097, 
    22128, 22159, 22189, 22220, 22250, 22281, 22312, 22340, 22371, 22401, 
    22432, 22462, 22493, 22524, 22554, 22585, 22615, 22646, 22677, 22705, 
    22736, 22766, 22797, 22827, 22858, 22889, 22919, 22950, 22980, 23011, 
    23042, 23070, 23101, 23131, 23162, 23192, 23223, 23254, 23284, 23315, 
    23345, 23376, 23436, 23467, 23497, 23528, 23558, 23589, 23620, 23650, 
    23681, 23711, 23742, 23773, 23801, 23832, 23862, 23893, 23923, 23954, 
    23985, 24015, 24046, 24076, 24107, 24138, 24166, 24197, 24227, 24258, 
    24288, 24319, 24350, 24380, 24411, 24441, 24472, 24503, 24531, 24562, 
    24592, 24623, 24653, 24684, 24715, 24745, 24776, 24806, 24837, 24868, 
    24897, 24928, 24958, 24989, 25019, 25050, 25081, 25111, 25142, 25172, 
    25203, 25234, 25262, 25293, 25323, 25354, 25384, 25415, 25446, 25476, 
    25507, 25537, 25568, 25599, 25627, 25658, 25688, 25719, 25749, 25780, 
    25811, 25841, 25872, 25902, 25933, 25964, 25992, 26023, 26053, 26084, 
    26114, 26145, 26176, 26206, 26237, 26267, 26298, 26329, 26358, 26389,]:
    print(days_to_datetime(i))

1958-02-02 00:00:00
1958-03-02 00:00:00
1958-04-02 00:00:00
1958-05-02 00:00:00
1958-06-02 00:00:00
1958-07-02 00:00:00
1958-08-02 00:00:00
1958-09-02 00:00:00
1958-10-02 00:00:00
1958-11-02 00:00:00
1958-12-02 00:00:00
1959-01-02 00:00:00
1959-02-02 00:00:00
1959-03-02 00:00:00
1959-04-02 00:00:00
1959-05-02 00:00:00
1959-06-02 00:00:00
1959-07-02 00:00:00
1959-08-02 00:00:00
1959-09-02 00:00:00
1959-10-02 00:00:00
1959-11-02 00:00:00
1959-12-02 00:00:00
1960-01-02 00:00:00
1960-02-02 00:00:00
1960-03-02 00:00:00
1960-04-02 00:00:00
1960-05-02 00:00:00
1960-06-02 00:00:00
1960-07-02 00:00:00
1960-08-02 00:00:00
1960-09-02 00:00:00
1960-10-02 00:00:00
1960-11-02 00:00:00
1960-12-02 00:00:00
1961-01-02 00:00:00
1961-02-02 00:00:00
1961-03-02 00:00:00
1961-04-02 00:00:00
1961-05-02 00:00:00
1961-06-02 00:00:00
1961-07-02 00:00:00
1961-08-02 00:00:00
1961-09-02 00:00:00
1961-10-02 00:00:00
1961-11-02 00:00:00
1961-12-02 00:00:00
1962-01-02 00:00:00
1962-02-02 00:00:00
1962-03-02 00:00:00
1962-04-02 00:00:00
1962-05-02 00:00:00
1962-06-02 00:00:00
1962-07-02 00:00:00
1962-08-02 00:00:00
1962-09-02 00:00:00
1962-10-02 00:00:00
1962-11-02 00:00:00
1962-12-02 00:00:00
1963-01-02 00:00:00
1963-02-02 00:00:00
1963-03-02 00:00:00
1963-04-02 00:00:00
1963-05-02 00:00:00
1963-06-02 00:00:00
1963-07-02 00:00:00
1963-08-02 00:00:00
1963-09-02 00:00:00
1963-10-02 00:00:00
1963-11-02 00:00:00
1963-12-02 00:00:00
1964-01-02 00:00:00
1964-03-02 00:00:00
1964-04-02 00:00:00
1964-05-02 00:00:00
1964-06-02 00:00:00
1964-07-02 00:00:00
1964-08-02 00:00:00
1964-09-02 00:00:00
1964-10-02 00:00:00
1964-11-02 00:00:00
1964-12-02 00:00:00
1965-01-02 00:00:00
1965-02-02 00:00:00
1965-03-02 00:00:00
1965-04-02 00:00:00
1965-05-02 00:00:00
1965-06-02 00:00:00
1965-07-02 00:00:00
1965-08-02 00:00:00
1965-09-02 00:00:00
1965-10-02 00:00:00
1965-11-02 00:00:00
1965-12-02 00:00:00
1966-01-02 00:00:00
1966-02-02 00:00:00
1966-03-02 00:00:00
1966-04-02 00:00:00
1966-05-02 00:00:00
1966-06-02 00:00:00
1966-07-02 00:00:00
1966-08-02 00:00:00
1966-09-02 00:00:00
1966-10-02 00:00:00
1966-11-02 00:00:00
1966-12-02 00:00:00
1967-01-02 00:00:00
1967-02-02 00:00:00
1967-03-02 00:00:00
1967-04-02 00:00:00
1967-05-02 00:00:00
1967-06-02 00:00:00
1967-07-02 00:00:00
1967-08-02 00:00:00
1967-09-02 00:00:00
1967-10-02 00:00:00
1967-11-02 00:00:00
1967-12-02 00:00:00
1968-01-02 00:00:00
1968-02-02 00:00:00
1968-03-02 00:00:00
1968-04-02 00:00:00
1968-05-02 00:00:00
1968-06-02 00:00:00
1968-07-02 00:00:00
1968-08-02 00:00:00
1968-09-02 00:00:00
1968-10-02 00:00:00
1968-11-02 00:00:00
1968-12-02 00:00:00
1969-01-02 00:00:00
1969-02-02 00:00:00
1969-03-02 00:00:00
1969-04-02 00:00:00
1969-05-02 00:00:00
1969-06-02 00:00:00
1969-07-02 00:00:00
1969-08-02 00:00:00
1969-09-02 00:00:00
1969-10-02 00:00:00
1969-11-02 00:00:00
1969-12-02 00:00:00
1970-01-02 00:00:00
1970-02-02 00:00:00
1970-03-02 00:00:00
1970-04-02 00:00:00
1970-05-02 00:00:00
1970-06-02 00:00:00
1970-07-02 00:00:00
1970-08-02 00:00:00
1970-09-02 00:00:00
1970-10-02 00:00:00
1970-11-02 00:00:00
1970-12-02 00:00:00
1971-01-02 00:00:00
1971-02-02 00:00:00
1971-03-02 00:00:00
1971-04-02 00:00:00
1971-05-02 00:00:00
1971-06-02 00:00:00
1971-07-02 00:00:00
1971-08-02 00:00:00
1971-09-02 00:00:00
1971-10-02 00:00:00
1971-11-02 00:00:00
1971-12-02 00:00:00
1972-01-02 00:00:00
1972-02-02 00:00:00
1972-03-02 00:00:00
1972-04-02 00:00:00

In [2]:
fs = glob.glob('./rttov_unadj_out/*')
sid = []
for i in fs:
    if len(glob.glob(i+'/*')) > 0:
        sid.append(i.split('/')[-1])

In [3]:
def write_bt_file(stat):
    with eua.CDMDataset(glob.glob('/users/staff/a1400070/scratch/converted_v8/*'+str(stat)+'*_CEUAS_merged_v1.nc')[0]) as conv:
        lat = conv.observations_table.latitude[-1]
        lon = conv.observations_table.longitude[-1]
        station_name = conv.station_configuration.station_name[:]
        station_name = ''.join([i.decode() for i in station_name[0]])
    print(station_name)

    dr = glob.glob('./rttov_unadj_out/' + str(stat) + '/*day_refl.p')[0]
    nr = glob.glob('./rttov_unadj_out/' + str(stat) + '/*night_refl.p')[0]
    dd = glob.glob('./rttov_unadj_out/' + str(stat) + '/*day_dates.p')[0]
    nd = glob.glob('./rttov_unadj_out/' + str(stat) + '/*night_dates.p')[0]

    out = {}
    for i in range(0,4):
        out['nrl_'+str(i+1)] = []
        out['drl_'+str(i+1)] = []
    with open(dr, "rb") as input_file:
        drl = pickle.load(input_file)
        for i in range(len(drl)):
            for j in range(0,4):
                out['drl_'+str(j+1)].append(drl[i][0][j])
    with open(nr, "rb") as input_file:
        nrl = pickle.load(input_file)
        for i in range(len(nrl)):
            for j in range(0,4):
                out['nrl_'+str(j+1)].append(nrl[i][0][j])
    with open(dd, "rb") as input_file:
        out['ddl'] = pickle.load(input_file)
    with open(nd, "rb") as input_file:
        out['ndl'] = pickle.load(input_file)
    odf = pd.DataFrame.from_dict(out)
    odf = odf.dropna()


    a_dr = glob.glob('./rttov_adj_out/' + str(stat) + '/*day_refl.p')[0]
    a_nr = glob.glob('./rttov_adj_out/' + str(stat) + '/*night_refl.p')[0]
    a_dd = glob.glob('./rttov_adj_out/' + str(stat) + '/*day_dates.p')[0]
    a_nd = glob.glob('./rttov_adj_out/' + str(stat) + '/*night_dates.p')[0]

    a_out = {}
    for i in range(0,4):
        a_out['nrl_'+str(i+1)] = []
        a_out['drl_'+str(i+1)] = []
    with open(a_dr, "rb") as input_file:
        drl = pickle.load(input_file)
        for i in range(len(drl)):
            for j in range(0,4):
                a_out['drl_'+str(j+1)].append(drl[i][0][j])
    with open(a_nr, "rb") as input_file:
        nrl = pickle.load(input_file)
        for i in range(len(nrl)):
            for j in range(0,4):
                a_out['nrl_'+str(j+1)].append(nrl[i][0][j])
    with open(dd, "rb") as input_file:
        a_out['ddl'] = pickle.load(input_file)
    with open(nd, "rb") as input_file:
        a_out['ndl'] = pickle.load(input_file)
    a_odf = pd.DataFrame.from_dict(a_out)
    a_odf = a_odf.dropna()

    out = {}
    # only using channel 2,3,4:
    for i in range(2,5):
        if i == 2:
            out['montemp'] = []
            out['rasocorrmon'] = []
            out['eracorrmon'] = []
            out['ancorrmon'] = []
            out['press'] = []
            out['datum'] = []
            out['hour'] = []
            out['lat'] = []
            out['lon'] = []
        for j in odf.ddl:
            for k in ['n','d']:
                out['montemp'].append(odf[odf.ddl == j][k+'rl_'+str(i)].iloc[0])
                out['rasocorrmon'].append(out['montemp'][-1] - (a_odf[a_odf.ddl == j][k+'rl_'+str(i)].iloc[0]))
                out['eracorrmon'].append(np.nan)
                out['ancorrmon'].append(np.nan)
                out['press'].append(i)
                out['datum'].append(j)
                out['lat'].append(lat)
                out['lon'].append(lon)      
                if k == 'n':
                    out['hour'].append(0)
                else:
                    out['hour'].append(1)

    resorted_df = pd.DataFrame.from_dict(out)

    # Read en existing NetCDF file and create a new one
    # f is going to be the existing NetCDF file from where we want to import data
    # and g is going to be the new file.

    f=Dataset('bt_template.nc','r') # r is for read only
    g=Dataset('bt_'+str(stat)+'.nc','w') # w if for creating a file
                                          # if the file already exists it  
                                          # file will be deleted 


    # To copy the global attributes of the netCDF file  

    for attname in f.ncattrs():
    #     print(attname, getattr(f,attname))
        if attname == 'Stationname':
            setattr(g,attname,station_name)
        else:
            setattr(g,attname,getattr(f,attname))

    # To copy the dimension of the netCDF file

    for dimname,dim in f.dimensions.items():
    #     print(dimname, dim)
        if dimname == 'time':
            g.createDimension(dimname,len(resorted_df.datum.unique()))
        else:
            g.createDimension(dimname,len(dim))


    # To copy the variables of the netCDF file
    for varname,ncvar in f.variables.items():
    #     print(varname, ncvar.dtype, ncvar.dimensions)
    #     print(np.shape(ncvar[:]))
    #     print(ncvar[:])
    #     print()
        var = g.createVariable(varname,ncvar.dtype,ncvar.dimensions)
        #Proceed to copy the variable attributes
        for attname in ncvar.ncattrs():  
            setattr(var,attname,getattr(ncvar,attname))

    #Finally copy the variable data to the new created variable
    g['lat'][:] = resorted_df.lat.iloc[-1]
    g['lon'][:] = resorted_df.lon.iloc[-1]
    g['press'][:] = [2,3,4]
    g['datum'][0,:] = resorted_df.datum.unique()

    fillvars = {}
    vars_to_write = ['montemp', 'rasocorrmon', 'eracorrmon', 'ancorrmon']
    for i in vars_to_write:
        fillvars[i] = np.empty([len(resorted_df.hour.unique()), len(resorted_df.press.unique()), len(resorted_df.datum.unique())])

    u_hours = resorted_df.hour.unique()
    u_press = resorted_df.press.unique()
    u_datum = resorted_df.datum.unique()
    for i in range(len(u_hours)):
        for j in range(len(u_press)):
            for k in range(len(u_datum)):
                data = resorted_df[(resorted_df.hour == u_hours[i]) & (resorted_df.press == u_press[j]) & (resorted_df.datum == u_datum[k])]
                for l in vars_to_write:
                    fillvars[l][i,j,k] = data[l]

    for i in vars_to_write:
        g[i][:] = fillvars[i]


    f.close()
    g.close()

WIEN/HOHE WARTE (11035-1)

In [4]:
ds = nc.Dataset('bt_11035.nc', 'r', format='NETCDF4')

In [5]:
ds

<class 'netCDF4._netCDF4.Dataset'>
root group (NETCDF4 data model, file format HDF5):
    Conventions: CF-1.1
    title:
    institution: University of Vienna
    history: 20/09/05
    source: radiosonde, ERA-Interim, ERA-40, RAOBCORE
    references: www.univie.ac.at/theoret-met/research/raobcore
    Stationname: WIEN/HOHE WARTE (11035-1)
    dimensions(sizes): station(1), numdat(4), time(742), pressure(3), hour(2)
    variables(dimensions): float32 lat(station), float32 lon(station), float32 press(pressure), int32 datum(numdat, time), float32 montemp(hour, pressure, time), float32 rasocorrmon(hour, pressure, time), float32 eracorrmon(hour, pressure, time), float32 ancorrmon(hour, pressure, time)
    groups:

In [8]:
len(resorted_df.datum.unique())

742

In [38]:
fn = './test.nc'
ds = nc.Dataset(fn, 'w', format='NETCDF4')
time = ds.createDimension('station', 1)
pressure = ds.createDimension('pressure', 3)
numdat = ds.createDimension('numdat', 4)
time = ds.createDimension('time', len(resorted_df.datum.unique()))
hour = ds.createDimension('hour', 2)

montemp = ds.createVariable('montemp', 'f4', ('hour','pressure', 'time'))
rasocorrmon = ds.createVariable('rasocorrmon', 'f4', ('hour','pressure', 'time'))
eracorrmon = ds.createVariable('eracorrmon', 'f4', ('hour','pressure', 'time'))
ancorrmon = ds.createVariable('ancorrmon', 'f4', ('hour','pressure', 'time'))

lat = ds.createVariable('lat', 'f4', ('station'))
lat[:] = resorted_df.lat.iloc[-1]
lon = ds.createVariable('lon', 'f4', ('station'))
lon[:] = resorted_df.lon.iloc[-1]

press = ds.createVariable('press', 'f4', ('pressure'))
press[:] = [2,3,4]
datum = ds.createVariable('datum', 'f4', ('numdat', 'time',))
datum[0,:] = resorted_df.datum.unique()

for i in resorted_df.hour.unique():
    for j in resorted_df.press.unique():
        for k in resorted_df.datum.unique():
            data = resorted_df[(resorted_df.hour == i) & (resorted_df.press == j) & (resorted_df.datum == k)]
            montemp[i,j,k] = data.montemp
            rasocorrmon[i,j,k] = data.rasocorrmon
            eracorrmon[i,j,k] = data.eracorrmon
            ancorrmon[i,j,k] = data.ancorrmon

RuntimeError: NetCDF: Index exceeds dimension bound

In [26]:
ds

<xarray.Dataset>
Dimensions:      (station: 1, pressure: 3, numdat: 4, time: 742, hour: 2)
Dimensions without coordinates: station, pressure, numdat, time, hour
Data variables:
    lat          (station) float32 70.94
    lon          (station) float32 -8.67
    press        (pressure) float32 2.0 3.0 4.0
    datum        (numdat, time) float64 2.122e+04 2.124e+04 ... -2.147e+09
    montemp      (hour, pressure, time) float32 9.863e-32 ... 7.006e-45
    rasocorrmon  (hour, pressure, time) float32 0.0 1.401e-45 0.0 ... nan 0.3089
    eracorrmon   (hour, pressure, time) float32 0.0 0.0 nan ... nan nan nan
    ancorrmon    (hour, pressure, time) float32 1.356 0.0 0.0 ... 0.0 0.0 0.0
Attributes:
    Conventions:  CF-1.1
    title:
    institution:  University of Vienna
    history:      20/09/05
    source:       radiosonde, ERA-Interim, ERA-40, RAOBCORE
    references:   www.univie.ac.at/theoret-met/research/raobcore
    Stationname:  JAN MAYEN

In [27]:
df

                                         lat   lon  press         datum  \
station pressure numdat time hour
0       0        0      0    0     70.940002 -8.67    2.0  2.121600e+04
                             1     70.940002 -8.67    2.0  2.121600e+04
                        1    0     70.940002 -8.67    2.0  2.124400e+04
                             1     70.940002 -8.67    2.0  2.124400e+04
                        2    0     70.940002 -8.67    2.0  2.127500e+04
...                                      ...   ...    ...           ...
        2        3      739  1     70.940002 -8.67    4.0 -2.147484e+09
                        740  0     70.940002 -8.67    4.0 -2.147484e+09
                             1     70.940002 -8.67    4.0 -2.147484e+09
                        741  0     70.940002 -8.67    4.0 -2.147484e+09
                             1     70.940002 -8.67    4.0 -2.147484e+09

                                        montemp   rasocorrmon  eracorrmon  \
station pressure numdat time hour
0       0        0      0    0     9.863206e-32  0.000000e+00         0.0
                             1              NaN           NaN         NaN
                        1    0     7.325988e-42  1.401298e-45         0.0
                             1              NaN           NaN         NaN
                        2    0     9.863206e-32  0.000000e+00         NaN
...                                         ...           ...         ...
        2        3      739  1     0.000000e+00           NaN         NaN
                        740  0    -5.803860e-38 -8.613154e-02         NaN
                             1     0.000000e+00           NaN         NaN
                        741  0     7.320383e-42           NaN         NaN
                             1     7.006492e-45  3.088766e-01         NaN

                                   ancorrmon
station pressure numdat time hour
0       0        0      0    0      1.356037
                             1           NaN
                        1    0      0.000000
                             1           NaN
                        2    0      0.000000
...                                      ...
        2        3      739  1      0.000000
                        740  0      0.000000
                             1      0.000000
                        741  0      0.000000
                             1      0.000000

[17808 rows x 8 columns]

In [9]:
odf = odf.dropna()
out = {}
for i in range(2,5):
    if i == 2:
        out['rasocorrmon'] = []
        out['press'] = []
        out['datum'] = []
        out['hour'] = []
    for j in odf.ddl:
        for k in ['n','d']:
            out['rasocorrmon'].append(odf[odf.ddl == j][k+'rl_'+str(i)].iloc[0]) ### - DIFF TO ADJ! To do: make this a difference
            out['press'].append(i)
            out['datum'].append(j)
            if k == 'n':
                out['hour'].append(0)
            else:
                out['hour'].append(1)
            
resorted_df = pd.DataFrame.from_dict(out)
resorted_df

      rasocorrmon  press   datum  hour
0      244.536430      2  195003     0
1      245.249118      2  195003     1
2      256.257937      2  195007     0
3      258.022498      2  195007     1
4      253.531490      2  195207     0
...           ...    ...     ...   ...
4447   212.849246      4  202110     1
4448   212.564126      4  202111     0
4449   212.638643      4  202111     1
4450   211.768505      4  202112     0
4451   211.882996      4  202112     1

[4452 rows x 4 columns]

In [11]:
ds

<xarray.Dataset>
Dimensions:      (station: 1, pressure: 3, numdat: 4, time: 742, hour: 2)
Dimensions without coordinates: station, pressure, numdat, time, hour
Data variables:
    lat          (station) float32 70.94
    lon          (station) float32 -8.67
    press        (pressure) float32 2.0 3.0 4.0
    datum        (numdat, time) float64 2.122e+04 2.124e+04 ... -2.147e+09
    montemp      (hour, pressure, time) float32 9.863e-32 ... 7.006e-45
    rasocorrmon  (hour, pressure, time) float32 0.0 1.401e-45 0.0 ... nan 0.3089
    eracorrmon   (hour, pressure, time) float32 0.0 0.0 nan ... nan nan nan
    ancorrmon    (hour, pressure, time) float32 1.356 0.0 0.0 ... 0.0 0.0 0.0
Attributes:
    Conventions:  CF-1.1
    title:
    institution:  University of Vienna
    history:      20/09/05
    source:       radiosonde, ERA-Interim, ERA-40, RAOBCORE
    references:   www.univie.ac.at/theoret-met/research/raobcore
    Stationname:  JAN MAYEN

In [63]:
df

                                         lat   lon  press         datum  \
station pressure numdat time hour
0       0        0      0    0     70.940002 -8.67    2.0  2.121600e+04
                             1     70.940002 -8.67    2.0  2.121600e+04
                        1    0     70.940002 -8.67    2.0  2.124400e+04
                             1     70.940002 -8.67    2.0  2.124400e+04
                        2    0     70.940002 -8.67    2.0  2.127500e+04
...                                      ...   ...    ...           ...
        2        3      739  1     70.940002 -8.67    4.0 -2.147484e+09
                        740  0     70.940002 -8.67    4.0 -2.147484e+09
                             1     70.940002 -8.67    4.0 -2.147484e+09
                        741  0     70.940002 -8.67    4.0 -2.147484e+09
                             1     70.940002 -8.67    4.0 -2.147484e+09

                                        montemp   rasocorrmon  eracorrmon  \
station pressure numdat time hour
0       0        0      0    0     9.863206e-32  0.000000e+00         0.0
                             1              NaN           NaN         NaN
                        1    0     7.325988e-42  1.401298e-45         0.0
                             1              NaN           NaN         NaN
                        2    0     9.863206e-32  0.000000e+00         NaN
...                                         ...           ...         ...
        2        3      739  1     0.000000e+00           NaN         NaN
                        740  0    -5.803860e-38 -8.613154e-02         NaN
                             1     0.000000e+00           NaN         NaN
                        741  0     7.320383e-42           NaN         NaN
                             1     7.006492e-45  3.088766e-01         NaN

                                   ancorrmon
station pressure numdat time hour
0       0        0      0    0      1.356037
                             1           NaN
                        1    0      0.000000
                             1           NaN
                        2    0      0.000000
...                                      ...
        2        3      739  1      0.000000
                        740  0      0.000000
                             1      0.000000
                        741  0      0.000000
                             1      0.000000

[17808 rows x 8 columns]

In [35]:
pd.DataFrame.glob.glob('./rttov_unadj_out/59644/*day*.p')

['./rttov_unadj_out/59644/59644_day_refl.p',
 './rttov_unadj_out/59644/59644_day_dates.p']

In [24]:
with open(files[0], "rb") as input_file:
    e = pickle.load(input_file)

In [26]:
with open(files[1], "rb") as input_file:
    e = pickle.load(input_file)

In [27]:
e

[197901,
 197902,
 197903,
 197904,
 197905,
 197906,
 197907,
 197908,
 197909,
 197910,
 197911,
 197912,
 198001,
 198002,
 198003,
 198004,
 198005,
 198006,
 198007,
 198008,
 198009,
 198010,
 198011,
 198012,
 198101,
 198102,
 198103,
 198104,
 198105,
 198106,
 198107,
 198108,
 198109,
 198110,
 198111,
 198112,
 198201,
 198202,
 198203,
 198204,
 198205,
 198206,
 198207,
 198208,
 198209,
 198210,
 198211,
 198212,
 198301,
 198302,
 198303,
 198304,
 198305,
 198306,
 198307,
 198308,
 198309,
 198310,
 198311,
 198312,
 198401,
 198402,
 198403,
 198404,
 198405,
 198406,
 198407,
 198408,
 198409,
 198410,
 198411,
 198412,
 198501,
 198502,
 198503,
 198504,
 198505,
 198506,
 198507,
 198508,
 198509,
 198510,
 198511,
 198512,
 198601,
 198602,
 198603,
 198604,
 198605,
 198606,
 198607,
 198608,
 198609,
 198610,
 198611,
 198612,
 198701,
 198702,
 198703,
 198704,
 198705,
 198706,
 198707,
 198708,
 198709,
 198710,
 198711,
 198712,
 198801,
 198802,
 198803,
 198804,
 198805,
 198806,
 198807,
 198808,
 198809,
 198810,
 198811,
 198812,
 198901,
 198902,
 198903,
 198904,
 198905,
 198906,
 198907,
 198908,
 198909,
 198910,
 198911,
 198912,
 199001,
 199002,
 199003,
 199004,
 199005,
 199006,
 199007,
 199008,
 199009,
 199010,
 199011,
 199012,
 199101,
 199102,
 199103,
 199104,
 199105,
 199106,
 199107,
 199108,
 199109,
 199110,
 199111,
 199112,
 199201,
 199202,
 199203,
 199204,
 199205,
 199206,
 199207,
 199208,
 199209,
 199210,
 199211,
 199212,
 199301,
 199302,
 199303,
 199304,
 199305,
 199306,
 199307,
 199308,
 199309,
 199310,
 199311,
 199312,
 199401,
 199402,
 199403,
 199404,
 199405,
 199406,
 199407,
 199408,
 199409,
 199410,
 199411,
 199412,
 199501,
 199502,
 199503,
 199504,
 199505,
 199506,
 199507,
 199508,
 199509,
 199510,
 199511,
 199512,
 199601,
 199602,
 199603,
 199604,
 199605,
 199606,
 199607,
 199608,
 199609,
 199610,
 199611,
 199612,
 199701,
 199702,
 199703,
 199704,
 199705,
 199706,
 199707,
 199708,
 199709,
 199710,
 199711,
 199712,
 199801,
 199802,
 199803,
 199804,
 199805,
 199806,
 199807,
 199808,
 199809,
 199810,
 199811,
 199812,
 199901,
 199902,
 199903,
 199904,
 199905,
 199906,
 199907,
 199908,
 199909,
 199910,
 199911,
 199912,
 200001,
 200002,
 200003,
 200004,
 200005,
 200006,
 200007,
 200008,
 200009,
 200010,
 200011,
 200012,
 200101,
 200102,
 200103,
 200104,
 200105,
 200106,
 200107,
 200108,
 200109,
 200110,
 200111,
 200112,
 200201,
 200202,
 200203,
 200204,
 200205,
 200206,
 200207,
 200208,
 200209,
 200210,
 200211,
 200212,
 200301,
 200302,
 200303,
 200304,
 200305,
 200306,
 200307,
 200308,
 200309,
 200310,
 200311,
 200312,
 200401,
 200402,
 200403,
 200404,
 200405,
 200406,
 200407,
 200408,
 200409,
 200410,
 200411,
 200412,
 200501,
 200502,
 200503,
 200504,
 200505,
 200506,
 200507,
 200508,
 200509,
 200510,
 200511,
 200512,
 200601,
 200602,
 200603,
 200604,
 200605,
 200606,
 200607,
 200608,
 200609,
 200610,
 200611,
 200612,
 200701,
 200702,
 200703,
 200704,
 200705,
 200706,
 200707,
 200708,
 200709,
 200710,
 200711,
 200712,
 200801,
 200802,
 200803,
 200804,
 200805,
 200806,
 200807,
 200808,
 200809,
 200810,
 200811,
 200812,
 200901,
 200902,
 200903,
 200904,
 200905,
 200906,
 200907,
 200908,
 200909,
 200910,
 200911,
 200912,
 201001,
 201002,
 201003,
 201004,
 201005,
 201006,
 201007,
 201008,
 201009,
 201010,
 201011,
 201012,
 201101,
 201102,
 201103,
 201104,
 201105,
 201106,
 201107,
 201108,
 201109,
 201110,
 201111,
 201112,
 201201,
 201202,
 201203,
 201204,
 201205,
 201206,
 201207,
 201208,
 201209,
 201210,
 201211,
 201212,
 201301,
 201302,
 201303,
 201304,
 201305,
 201306,
 201307,
 201308,
 201309,
 201310,
 201311,
 201312,
 201401,
 201402,
 201403,
 201404,
 201405,
 201406,
 201407,
 201408,
 201409,
 201410,
 201411,
 201412,
 201501,
 201502,
 201503,
 201504,
 201505,
 201506,
 201507,
 201508,
 201509,
 201510,
 201511,
 201512,
 201601,
 201602,
 201603,
 201604,
 201605,
 201606,
 201607,
 201608,
 201609,
 201610,
 201611,
 201612,
 201701,
 201702,
 201703,
 201704,
 201705,
 201706,
 201707,
 201708,
 201709,
 201710,
 201711,
 201712,
 201801,
 201802,
 201803,
 201804,
 201805,
 201806,
 201807,
 201808,
 201809,
 201810,
 201811,
 201812,
 201901,
 201902,
 201903,
 201904,
 201905,
 201906,
 201907,
 201908,
 201909,
 201910,
 201911,
 201912,
 202001,
 202002,
 202003,
 202004,
 202005,
 202006,
 202007,
 202008,
 202009,
 202010,
 202011,
 202012,
 202101,
 202102,
 202103,
 202104,
 202105,
 202106,
 202107,
 202108,
 202109,
 202110,
 202111,
 202112]

In [2]:
tempfiles = glob.glob('/mnt/ssdraid/scratch/leo/rise/1.0/exp01/*11035*/feedbackmerged*.nc')
adjfiles = glob.glob('/mnt/ssdraid/scratch/leo/rise/1.0/exp01/*11035*/feedbackglobbincorrsave0*.nc')

In [3]:
statid = tempfiles[0].split('feedbackmerged')

In [4]:
glob.glob(tempfiles[0].split('feedbackmerged')[0]+'feedbackglobbincorrsave0*.nc')

['/mnt/ssdraid/scratch/leo/rise/1.0/exp01/011035/feedbackglobbincorrsave011035.nc']

In [13]:
df = xr.open_dataset(tempfiles[0]).to_dataframe()
adj_df = xr.open_dataset(glob.glob(tempfiles[0].split('feedbackmerged')[0]+'feedbackglobbincorrsave0*.nc')[0]).to_dataframe()
adj_df.press = adj_df.press * 100.
adj_df = adj_df[adj_df.press.isin([5000,7000,10000,15000,20000,25000,30000,40000,50000,70000,85000])]
# df = df[df.datum > '1979']
df = xr.open_dataset(tempfiles[0]).to_dataframe()
# df = xr.open_dataset(statlist).to_dataframe()
# adj_df = xr.open_dataset(adjstatlist).to_dataframe()
# df = df - adj_df
df.press = df.press * 100.
###
df = df[df.press.isin([5000,7000,10000,15000,20000,25000,30000,40000,50000,70000,85000])]
# df = df[df.datum > '1979']
df = df.reset_index()
df = df.rename({'time':'time_idx'}, axis='columns')
df = df.rename({'datum':'time', 'press':'plev'}, axis='columns')

In [14]:
df = df.reset_index()
adj_df = adj_df.reset_index()

In [16]:
mask = ('1952-01-20' < df.time) & (df.time < '1956-06-11')
df.loc[mask].dropna()

,index,hour,pressure,time_idx,station,plev,time,temperatures,era5_fgdep,bias_estimate,lat,lon,sonde_type,hours
313,313,0,3,313,0,5000.0,1952-07-01,220.250000,-1.882730,0.000000,48.25,16.370001,b'Z4? ',3
314,314,0,3,314,0,5000.0,1952-07-02,221.149994,-1.475601,0.000000,48.25,16.370001,b'Z4? ',3
316,316,0,3,316,0,5000.0,1952-07-04,220.449997,0.576925,0.000000,48.25,16.370001,b'Z4? ',3
320,320,0,3,320,0,5000.0,1952-07-08,220.449997,0.279948,0.000000,48.25,16.370001,b'Z4? ',21
321,321,0,3,321,0,5000.0,1952-07-09,221.350006,-0.716732,0.024600,48.25,16.370001,b'Z4? ',3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540984,540984,12,13,1494,0,85000.0,1955-09-25,279.549988,-0.988703,0.000000,48.25,16.370001,b'Z4? ',15
540985,540985,12,13,1495,0,85000.0,1955-09-26,283.350006,-1.378266,-0.319189,48.25,16.370001,b'Z4? ',15
540986,540986,12,13,1496,0,85000.0,1955-09-27,279.750000,0.158650,-0.319189,48.25,16.370001,b'Z4? ',15
540988,540988,12,13,1498,0,85000.0,1955-09-29,274.649994,-0.251150,-0.319189,48.25,16.370001,b'Z4? ',15
540989,540989,12,13,1499,0,85000.0,1955-09-30,277.049988,1.565401,-0.319189,48.25,16.370001,b'Z4? ',15

In [11]:
for p in [5000,7000,10000,15000,20000,25000,30000,40000,50000,70000,85000]:
    print(p)
    for h in [0,12]:
        if h == 0:
            im = adj_df.loc[(adj_df.press == p) & (adj_df.hour == 0)]
            adjs_val = np.array(im.rasocorr)
            adjs_date = np.array(im.datum)
            for t in range(len(adjs_date)-1):
                mask = (adjs_date[t] < df.time_1) & (df.time_1 < adjs_date[t+1]) & (df.plev == p) & (df.hour == 0)
                df.loc[mask, 'temperatures'] -= adjs_val[t]
        if h == 12:
            im = adj_df.loc[(adj_df.press == p) & (adj_df.hour == 1)]
            adjs_val = np.array(im.rasocorr)
            adjs_date = np.array(im.datum)
            for t in range(len(adjs_date)-1):
                mask = (adjs_date[t] < df.time_1) & (df.time_1 < adjs_date[t+1]) & (df.plev == p) & (df.hour == 12)
                df.loc[mask, 'temperatures'] -= adjs_val[t]
                
#                 print(p, adjs_date[t], adjs_date[t+1])
# #                 print(p, adjs_val[t], adjs_val[t+1])
# #                 print(df[(df.time > adjs_date[t])][(df.time < adjs_date[t+1])])
#                 sel_t  = df[(df.time > adjs_date[t])][(df.time < adjs_date[t+1])]
#                 if len(sel_t) > 0:
# #                     new_t.append(np.array(df[(adjs_date[t+1]) > df.time > adjs_date[t]].loc[0,p].temperatures + adjs_val[t]))
#                     new_t.append(np.array(sel_t.loc[0,p].temperatures + adjs_val[t]))
# new_t
#         else:
#             display(df[df.plev == p].loc[12])

5000
7000
10000
15000
20000
25000
30000
40000
50000
70000
85000

In [12]:
mask = ('1952-01-20' < df.time_1) & (df.time_1 < '1956-06-11')
df.loc[mask].dropna()

,hour,pressure,time,station,plev,time_1,temperatures,era5_fgdep,bias_estimate,lat,lon,sonde_type,hours
313,0,3,313,0,5000.0,1952-07-01,221.511108,-1.882730,0.000000,48.25,16.370001,b'Z4? ',3
314,0,3,314,0,5000.0,1952-07-02,222.411102,-1.475601,0.000000,48.25,16.370001,b'Z4? ',3
316,0,3,316,0,5000.0,1952-07-04,221.711105,0.576925,0.000000,48.25,16.370001,b'Z4? ',3
320,0,3,320,0,5000.0,1952-07-08,221.711105,0.279948,0.000000,48.25,16.370001,b'Z4? ',21
321,0,3,321,0,5000.0,1952-07-09,222.611115,-0.716732,0.024600,48.25,16.370001,b'Z4? ',3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540984,12,13,1494,0,85000.0,1955-09-25,279.377930,-0.988703,0.000000,48.25,16.370001,b'Z4? ',15
540985,12,13,1495,0,85000.0,1955-09-26,283.177948,-1.378266,-0.319189,48.25,16.370001,b'Z4? ',15
540986,12,13,1496,0,85000.0,1955-09-27,279.577942,0.158650,-0.319189,48.25,16.370001,b'Z4? ',15
540988,12,13,1498,0,85000.0,1955-09-29,274.477936,-0.251150,-0.319189,48.25,16.370001,b'Z4? ',15
540989,12,13,1499,0,85000.0,1955-09-30,276.877930,1.565401,-0.319189,48.25,16.370001,b'Z4? ',15

In [33]:
df

,hour,pressure,time,station,plev,time_1,temperatures,era5_fgdep,bias_estimate,lat,lon,sonde_type,hours
0,0,3,0,0,5000.0,1925-01-24,NaN,NaN,0.0,48.25,16.370001,b'nan',0
1,0,3,1,0,5000.0,1949-04-08,NaN,NaN,0.0,48.25,16.370001,b'nan',3
2,0,3,2,0,5000.0,1949-04-12,NaN,NaN,0.0,48.25,16.370001,b'nan',3
3,0,3,3,0,5000.0,1949-04-13,NaN,NaN,0.0,48.25,16.370001,b'nan',3
4,0,3,4,0,5000.0,1949-06-21,NaN,NaN,0.0,48.25,16.370001,b'nan',3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
565175,12,13,25685,0,85000.0,2021-12-27,275.100006,-2.366502,0.0,48.25,16.370001,b'163.',11
565176,12,13,25686,0,85000.0,2021-12-28,275.029999,0.970700,0.0,48.25,16.370001,b'141.',11
565177,12,13,25687,0,85000.0,2021-12-29,272.579987,-0.070551,0.0,48.25,16.370001,b'163.',11
565178,12,13,25688,0,85000.0,2021-12-30,276.470001,0.600346,0.0,48.25,16.370001,b'163.',11
565179,12,13,25689,0,85000.0,2021-12-31,279.260010,0.643309,0.0,48.25,16.370001,b'163.',11

In [34]:
adj_df

,station,pressure,numdat,time,hour,lat,lon,press,datum,rasocorr,rasobreak
0,0,3,0,0,0,48.25,16.370001,5000.0,1900-01-02,-0.630560,-0.630560
1,0,3,0,0,1,48.25,16.370001,5000.0,1900-01-02,-0.160317,-0.160317
2,0,3,0,1,0,48.25,16.370001,5000.0,1952-01-20,-0.630560,-0.630560
3,0,3,0,1,1,48.25,16.370001,5000.0,1952-01-20,-0.160317,-0.160317
4,0,3,0,2,0,48.25,16.370001,5000.0,1956-06-11,0.659238,0.659238
...,...,...,...,...,...,...,...,...,...,...,...
1227,0,13,1,25,1,48.25,16.370001,85000.0,2019-05-12,0.188600,0.188600
1228,0,13,1,26,0,48.25,16.370001,85000.0,2021-05-24,0.000000,0.000000
1229,0,13,1,26,1,48.25,16.370001,85000.0,2021-05-24,0.000000,0.000000
1230,0,13,1,27,0,48.25,16.370001,85000.0,2023-03-15,0.000000,0.000000
1231,0,13,1,27,1,48.25,16.370001,85000.0,2023-03-15,0.000000,0.000000

In [39]:
im = adj_df.loc[(adj_df.press == 85000) & (adj_df.hour == 0)]

In [43]:
im.datum

1120   1900-01-02
1122   1952-01-20
1124   1956-06-11
1126   1958-07-14
1128   1960-08-05
1130   1963-04-15
1132   1965-09-13
1134   1967-09-25
1136   1970-04-19
1138   1974-02-19
1140   1976-03-17
1142   1979-12-29
1144   1982-01-15
1146   1984-01-16
1148   1987-05-06
1150   1989-08-15
1152   1991-11-20
1154   1994-05-20
1156   1996-07-25
1158   1998-07-25
1160   2003-09-30
1162   2006-11-17
1164   2011-08-11
1166   2014-11-17
1168   2016-12-15
1170   2019-05-12
1172   2021-05-24
1174   2023-03-15
1176   1900-01-02
1178   1952-01-20
1180   1956-06-11
1182   1958-07-14
1184   1960-08-05
1186   1963-04-15
1188   1965-09-13
1190   1967-09-25
1192   1970-04-19
1194   1974-02-19
1196   1976-03-17
1198   1979-12-29
1200   1982-01-15
1202   1984-01-16
1204   1987-05-06
1206   1989-08-15
1208   1991-11-20
1210   1994-05-20
1212   1996-07-25
1214   1998-07-25
1216   2003-09-30
1218   2006-11-17
1220   2011-08-11
1222   2014-11-17
1224   2016-12-15
1226   2019-05-12
1228   2021-05-24
1230   2023-03-15
Name: datum, dtype: datetime64[ns]

In [50]:
mask = ('1952-01-20' < df.time_1) & (df.time_1 < '1956-06-11')
df.loc[mask]

,hour,pressure,time,station,plev,time_1,temperatures,era5_fgdep,bias_estimate,lat,lon,sonde_type,hours
306,0,3,306,0,5000.0,1952-02-05,NaN,NaN,0.0,48.25,16.370001,b'nan',3
307,0,3,307,0,5000.0,1952-02-27,NaN,NaN,0.0,48.25,16.370001,b'nan',3
308,0,3,308,0,5000.0,1952-03-09,NaN,NaN,0.0,48.25,16.370001,b'nan',3
309,0,3,309,0,5000.0,1952-03-10,NaN,NaN,0.0,48.25,16.370001,b'nan',3
310,0,3,310,0,5000.0,1952-03-11,NaN,NaN,0.0,48.25,16.370001,b'nan',3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
541239,12,13,1749,0,85000.0,1956-06-06,NaN,NaN,0.0,48.25,16.370001,b'nan',0
541240,12,13,1750,0,85000.0,1956-06-07,NaN,NaN,0.0,48.25,16.370001,b'nan',0
541241,12,13,1751,0,85000.0,1956-06-08,NaN,NaN,0.0,48.25,16.370001,b'nan',0
541242,12,13,1752,0,85000.0,1956-06-09,NaN,NaN,0.0,48.25,16.370001,b'nan',0
541243,12,13,1753,0,85000.0,1956-06-10,NaN,NaN,0.0,48.25,16.370001,b'nan',0

In [21]:
df.loc[df.time_1 > '1952-01-20'].loc[df.time_1 < '1956-06-11']# = 12

,hour,pressure,time,station,plev,time_1,temperatures,era5_fgdep,bias_estimate,lat,lon,sonde_type,hours
306,0,0,306,0,1000.0,1952-02-05,NaN,12.0,0.0,48.25,16.370001,b'nan',3
307,0,0,307,0,1000.0,1952-02-27,NaN,12.0,0.0,48.25,16.370001,b'nan',3
308,0,0,308,0,1000.0,1952-03-09,NaN,12.0,0.0,48.25,16.370001,b'nan',3
309,0,0,309,0,1000.0,1952-03-10,NaN,12.0,0.0,48.25,16.370001,b'nan',3
310,0,0,310,0,1000.0,1952-03-11,NaN,12.0,0.0,48.25,16.370001,b'nan',3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
798139,12,15,1749,0,100000.0,1956-06-06,NaN,12.0,0.0,48.25,16.370001,b'nan',0
798140,12,15,1750,0,100000.0,1956-06-07,NaN,12.0,0.0,48.25,16.370001,b'nan',0
798141,12,15,1751,0,100000.0,1956-06-08,NaN,12.0,0.0,48.25,16.370001,b'nan',0
798142,12,15,1752,0,100000.0,1956-06-09,NaN,12.0,0.0,48.25,16.370001,b'nan',0
798143,12,15,1753,0,100000.0,1956-06-10,NaN,12.0,0.0,48.25,16.370001,b'nan',0

In [ ]:
for p in [5000,7000,10000,15000,20000,25000,30000,40000,50000,70000,85000]:
    for h in [0,12]:
        if h == 0:
            im = adj_df.loc[(adj_df.press == p) & (adj_df.hour == 0)]
            adjs_val = np.array(im.rasocorr)
            adjs_date = np.array(im.datum)
            for t in range(len(adjs_date)-1):
                mask = (adjs_date[t] < df.time_1) & (df.time_1 < adjs_date[t+1]) & (df.plev == p) & (df.hour == 0)
                df.loc[mask, 'temperatrues'] -= adjs_val[t]
        if h == 0:
            im = adj_df.loc[(adj_df.press == p) & (adj_df.hour == 1)]
            adjs_val = np.array(im.rasocorr)
            adjs_date = np.array(im.datum)
            for t in range(len(adjs_date)-1):
                mask = (adjs_date[t] < df.time_1) & (df.time_1 < adjs_date[t+1]) & (df.plev == p) & (df.hour == 12)
                df.loc[mask, 'temperatrues'] -= adjs_val[t]
                
#                 print(p, adjs_date[t], adjs_date[t+1])
# #                 print(p, adjs_val[t], adjs_val[t+1])
# #                 print(df[(df.time > adjs_date[t])][(df.time < adjs_date[t+1])])
#                 sel_t  = df[(df.time > adjs_date[t])][(df.time < adjs_date[t+1])]
#                 if len(sel_t) > 0:
# #                     new_t.append(np.array(df[(adjs_date[t+1]) > df.time > adjs_date[t]].loc[0,p].temperatures + adjs_val[t]))
#                     new_t.append(np.array(sel_t.loc[0,p].temperatures + adjs_val[t]))
new_t
#         else:
#             display(df[df.plev == p].loc[12])

In [101]:
adj_df.loc[adj_df.hour == 1, 'hour'] = 12

In [105]:
adj_df.loc[0:3, 'rasobreak'] += 1

In [106]:
adj_df

,station,pressure,numdat,time,hour,lat,lon,press,datum,rasocorr,rasobreak
0,0,0,0,0,0,48.25,16.370001,10.0,1900-01-02,0.216867,2.216867
1,0,0,0,0,12,48.25,16.370001,10.0,1900-01-02,4.705619,5.705619
2,0,0,0,1,0,48.25,16.370001,10.0,1952-01-20,0.216867,1.216867
3,0,0,0,1,12,48.25,16.370001,10.0,1952-01-20,4.705619,5.705619
4,0,0,0,2,0,48.25,16.370001,10.0,1956-06-11,0.216867,0.216867
...,...,...,...,...,...,...,...,...,...,...,...
1787,0,15,1,25,12,48.25,16.370001,1000.0,2019-05-12,NaN,NaN
1788,0,15,1,26,0,48.25,16.370001,1000.0,2021-05-24,NaN,NaN
1789,0,15,1,26,12,48.25,16.370001,1000.0,2021-05-24,NaN,NaN
1790,0,15,1,27,0,48.25,16.370001,1000.0,2023-03-15,NaN,NaN
1791,0,15,1,27,12,48.25,16.370001,1000.0,2023-03-15,NaN,NaN

In [77]:
for p in range(0,16):
    for h in [0,12]:
        if h == 0:
            adjs_val = np.array(adj_df.rasocorr.loc[:,p,0,:,0])
            adjs_date = np.array(adj_df.datum.loc[:,p,0,:,0])
            for t in range(len(adjs_date)-1):
                print(p, adjs_date[t], adjs_date[t+1])
#                 print(p, adjs_val[t], adjs_val[t+1])
#                 print(df[(df.time > adjs_date[t])][(df.time < adjs_date[t+1])])
                sel_t  = df[(df.time > adjs_date[t])][(df.time < adjs_date[t+1])]
                if len(sel_t) > 0:
#                     new_t.append(np.array(df[(adjs_date[t+1]) > df.time > adjs_date[t]].loc[0,p].temperatures + adjs_val[t]))
                    new_t.append(np.array(sel_t.loc[0,p].temperatures + adjs_val[t]))
new_t
#         else:
#             display(df[df.plev == p].loc[12])

0 1900-01-02T00:00:00.000000000 1952-01-20T00:00:00.000000000
0 1952-01-20T00:00:00.000000000 1956-06-11T00:00:00.000000000
0 1956-06-11T00:00:00.000000000 1958-07-14T00:00:00.000000000
0 1958-07-14T00:00:00.000000000 1960-08-05T00:00:00.000000000
0 1960-08-05T00:00:00.000000000 1963-04-15T00:00:00.000000000
0 1963-04-15T00:00:00.000000000 1965-09-13T00:00:00.000000000
0 1965-09-13T00:00:00.000000000 1967-09-25T00:00:00.000000000
0 1967-09-25T00:00:00.000000000 1970-04-19T00:00:00.000000000
0 1970-04-19T00:00:00.000000000 1974-02-19T00:00:00.000000000
0 1974-02-19T00:00:00.000000000 1976-03-17T00:00:00.000000000
0 1976-03-17T00:00:00.000000000 1979-12-29T00:00:00.000000000
0 1979-12-29T00:00:00.000000000 1982-01-15T00:00:00.000000000

/tmp/ipykernel_2698474/765543093.py:11: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  sel_t  = df[(df.time > adjs_date[t])][(df.time < adjs_date[t+1])]

0 1982-01-15T00:00:00.000000000 1984-01-16T00:00:00.000000000
0 1984-01-16T00:00:00.000000000 1987-05-06T00:00:00.000000000
0 1987-05-06T00:00:00.000000000 1989-08-15T00:00:00.000000000
0 1989-08-15T00:00:00.000000000 1991-11-20T00:00:00.000000000
0 1991-11-20T00:00:00.000000000 1994-05-20T00:00:00.000000000
0 1994-05-20T00:00:00.000000000 1996-07-25T00:00:00.000000000
0 1996-07-25T00:00:00.000000000 1998-07-25T00:00:00.000000000
0 1998-07-25T00:00:00.000000000 2003-09-30T00:00:00.000000000
0 2003-09-30T00:00:00.000000000 2006-11-17T00:00:00.000000000
0 2006-11-17T00:00:00.000000000 2011-08-11T00:00:00.000000000
0 2011-08-11T00:00:00.000000000 2014-11-17T00:00:00.000000000
0 2014-11-17T00:00:00.000000000 2016-12-15T00:00:00.000000000
0 2016-12-15T00:00:00.000000000 2019-05-12T00:00:00.000000000
0 2019-05-12T00:00:00.000000000 2021-05-24T00:00:00.000000000
0 2021-05-24T00:00:00.000000000 2023-03-15T00:00:00.000000000
1 1900-01-02T00:00:00.000000000 1952-01-20T00:00:00.000000000
1 1952-01-20T00:00:00.000000000 1956-06-11T00:00:00.000000000
1 1956-06-11T00:00:00.000000000 1958-07-14T00:00:00.000000000
1 1958-07-14T00:00:00.000000000 1960-08-05T00:00:00.000000000
1 1960-08-05T00:00:00.000000000 1963-04-15T00:00:00.000000000
1 1963-04-15T00:00:00.000000000 1965-09-13T00:00:00.000000000
1 1965-09-13T00:00:00.000000000 1967-09-25T00:00:00.000000000
1 1967-09-25T00:00:00.000000000 1970-04-19T00:00:00.000000000
1 1970-04-19T00:00:00.000000000 1974-02-19T00:00:00.000000000
1 1974-02-19T00:00:00.000000000 1976-03-17T00:00:00.000000000
1 1976-03-17T00:00:00.000000000 1979-12-29T00:00:00.000000000
1 1979-12-29T00:00:00.000000000 1982-01-15T00:00:00.000000000
1 1982-01-15T00:00:00.000000000 1984-01-16T00:00:00.000000000
1 1984-01-16T00:00:00.000000000 1987-05-06T00:00:00.000000000
1 1987-05-06T00:00:00.000000000 1989-08-15T00:00:00.000000000
1 1989-08-15T00:00:00.000000000 1991-11-20T00:00:00.000000000
1 1991-11-20T00:00:00.000000000 1994-05-20T00:00:00.000000000
1 1994-05-20T00:00:00.000000000 1996-07-25T00:00:00.000000000
1 1996-07-25T00:00:00.000000000 1998-07-25T00:00:00.000000000
1 1998-07-25T00:00:00.000000000 2003-09-30T00:00:00.000000000
1 2003-09-30T00:00:00.000000000 2006-11-17T00:00:00.000000000
1 2006-11-17T00:00:00.000000000 2011-08-11T00:00:00.000000000
1 2011-08-11T00:00:00.000000000 2014-11-17T00:00:00.000000000
1 2014-11-17T00:00:00.000000000 2016-12-15T00:00:00.000000000
1 2016-12-15T00:00:00.000000000 2019-05-12T00:00:00.000000000
1 2019-05-12T00:00:00.000000000 2021-05-24T00:00:00.000000000
1 2021-05-24T00:00:00.000000000 2023-03-15T00:00:00.000000000
2 1900-01-02T00:00:00.000000000 1952-01-20T00:00:00.000000000
2 1952-01-20T00:00:00.000000000 1956-06-11T00:00:00.000000000
2 1956-06-11T00:00:00.000000000 1958-07-14T00:00:00.000000000
2 1958-07-14T00:00:00.000000000 1960-08-05T00:00:00.000000000
2 1960-08-05T00:00:00.000000000 1963-04-15T00:00:00.000000000
2 1963-04-15T00:00:00.000000000 1965-09-13T00:00:00.000000000
2 1965-09-13T00:00:00.000000000 1967-09-25T00:00:00.000000000
2 1967-09-25T00:00:00.000000000 1970-04-19T00:00:00.000000000
2 1970-04-19T00:00:00.000000000 1974-02-19T00:00:00.000000000
2 1974-02-19T00:00:00.000000000 1976-03-17T00:00:00.000000000
2 1976-03-17T00:00:00.000000000 1979-12-29T00:00:00.000000000
2 1979-12-29T00:00:00.000000000 1982-01-15T00:00:00.000000000
2 1982-01-15T00:00:00.000000000 1984-01-16T00:00:00.000000000
2 1984-01-16T00:00:00.000000000 1987-05-06T00:00:00.000000000
2 1987-05-06T00:00:00.000000000 1989-08-15T00:00:00.000000000
2 1989-08-15T00:00:00.000000000 1991-11-20T00:00:00.000000000
2 1991-11-20T00:00:00.000000000 1994-05-20T00:00:00.000000000
2 1994-05-20T00:00:00.000000000 1996-07-25T00:00:00.000000000
2 1996-07-25T00:00:00.000000000 1998-07-25T00:00:00.000000000
2 1998-07-25T00:00:00.000000000 2003-09-30T00:00:00.000000000
2 2003-09-30T00:00:00.000000000 2006-11-17T00:00:00.000000000
2 2006-11-17T00:00:00.000000000 2011-08-11T00:00:00.000000000
2 2011-08-11T00:00:00.000000000 2014-11-17T00:00:00.000000000
2 2014-11-17T00:00:00.000000000 2016-12-15T00:00:00.000000000
2 2016-12-15T00:00:00.000000000 2019-05-12T00:00:00.000000000
2 2019-05-12T00:00:00.000000000 2021-05-24T00:00:00.000000000
2 2021-05-24T00:00:00.000000000 2023-03-15T00:00:00.000000000
3 1900-01-02T00:00:00.000000000 1952-01-20T00:00:00.000000000
3 1952-01-20T00:00:00.000000000 1956-06-11T00:00:00.000000000
3 1956-06-11T00:00:00.000000000 1958-07-14T00:00:00.000000000
3 1958-07-14T00:00:00.000000000 1960-08-05T00:00:00.000000000
3 1960-08-05T00:00:00.000000000 1963-04-15T00:00:00.000000000
3 1963-04-15T00:00:00.000000000 1965-09-13T00:00:00.000000000
3 1965-09-13T00:00:00.000000000 1967-09-25T00:00:00.000000000
3 1967-09-25T00:00:00.000000000 1970-04-19T00:00:00.000000000
3 1970-04-19T00:00:00.000000000 1974-02-19T00:00:00.000000000
3 1974-02-19T00:00:00.000000000 1976-03-17T00:00:00.000000000
3 1976-03-17T00:00:00.000000000 1979-12-29T00:00:00.000000000
3 1979-12-29T00:00:00.000000000 1982-01-15T00:00:00.000000000
3 1982-01-15T00:00:00.000000000 1984-01-16T00:00:00.000000000
3 1984-01-16T00:00:00.000000000 1987-05-06T00:00:00.000000000
3 1987-05-06T00:00:00.000000000 1989-08-15T00:00:00.000000000

KeyboardInterrupt:

In [45]:
adj_df

                                     lat        lon   press      datum  \
station pressure numdat time hour
0       0        0      0    0     48.25  16.370001    10.0 1900-01-02
                             1     48.25  16.370001    10.0 1900-01-02
                        1    0     48.25  16.370001    10.0 1952-01-20
                             1     48.25  16.370001    10.0 1952-01-20
                        2    0     48.25  16.370001    10.0 1956-06-11
...                                  ...        ...     ...        ...
        15       1      25   1     48.25  16.370001  1000.0 2019-05-12
                        26   0     48.25  16.370001  1000.0 2021-05-24
                             1     48.25  16.370001  1000.0 2021-05-24
                        27   0     48.25  16.370001  1000.0 2023-03-15
                             1     48.25  16.370001  1000.0 2023-03-15

                                   rasocorr  rasobreak
station pressure numdat time hour
0       0        0      0    0     0.216867   0.216867
                             1     4.705619   4.705619
                        1    0     0.216867   0.216867
                             1     4.705619   4.705619
                        2    0     0.216867   0.216867
...                                     ...        ...
        15       1      25   1          NaN        NaN
                        26   0          NaN        NaN
                             1          NaN        NaN
                        27   0          NaN        NaN
                             1          NaN        NaN

[1792 rows x 6 columns]

In [46]:
adj_df.loc[:,:,0,:,0]

                                     lat        lon   press      datum  \
station pressure numdat time hour
0       0        0      0    0     48.25  16.370001    10.0 1900-01-02
                        1    0     48.25  16.370001    10.0 1952-01-20
                        2    0     48.25  16.370001    10.0 1956-06-11
                        3    0     48.25  16.370001    10.0 1958-07-14
                        4    0     48.25  16.370001    10.0 1960-08-05
...                                  ...        ...     ...        ...
        15       0      23   0     48.25  16.370001  1000.0 2014-11-17
                        24   0     48.25  16.370001  1000.0 2016-12-15
                        25   0     48.25  16.370001  1000.0 2019-05-12
                        26   0     48.25  16.370001  1000.0 2021-05-24
                        27   0     48.25  16.370001  1000.0 2023-03-15

                                   rasocorr  rasobreak
station pressure numdat time hour
0       0        0      0    0     0.216867   0.216867
                        1    0     0.216867   0.216867
                        2    0     0.216867   0.216867
                        3    0     0.216867   0.216867
                        4    0     0.109578   0.109578
...                                     ...        ...
        15       0      23   0          NaN        NaN
                        24   0          NaN        NaN
                        25   0          NaN        NaN
                        26   0          NaN        NaN
                        27   0          NaN        NaN

[448 rows x 6 columns]

In [5]:
df = xr.open_dataset(tempfiles[0]).to_dataframe()
df.press = df.press *100

In [6]:
df = df[df.press.isin([5000,7000,10000,15000,20000,25000,30000,40000,50000,70000,85000])]

In [7]:
df = df.rename({'datum':'time', 'press':'plev'}, axis='columns')

In [8]:
df

                                plev       time  temperatures  era5_fgdep  \
hour pressure time  station
0    3        0     0         5000.0 1925-01-24           NaN         NaN
              1     0         5000.0 1949-04-08           NaN         NaN
              2     0         5000.0 1949-04-12           NaN         NaN
              3     0         5000.0 1949-04-13           NaN         NaN
              4     0         5000.0 1949-06-21           NaN         NaN
...                              ...        ...           ...         ...
12   13       25685 0        85000.0 2021-12-27    275.100006   -2.366502
              25686 0        85000.0 2021-12-28    275.029999    0.970700
              25687 0        85000.0 2021-12-29    272.579987   -0.070551
              25688 0        85000.0 2021-12-30    276.470001    0.600346
              25689 0        85000.0 2021-12-31    279.260010    0.643309

                             bias_estimate    lat        lon sonde_type  hours
hour pressure time  station
0    3        0     0                  0.0  48.25  16.370001     b'nan'      0
              1     0                  0.0  48.25  16.370001     b'nan'      3
              2     0                  0.0  48.25  16.370001     b'nan'      3
              3     0                  0.0  48.25  16.370001     b'nan'      3
              4     0                  0.0  48.25  16.370001     b'nan'      3
...                                    ...    ...        ...        ...    ...
12   13       25685 0                  0.0  48.25  16.370001    b'163.'     11
              25686 0                  0.0  48.25  16.370001    b'141.'     11
              25687 0                  0.0  48.25  16.370001    b'163.'     11
              25688 0                  0.0  48.25  16.370001    b'163.'     11
              25689 0                  0.0  48.25  16.370001    b'163.'     11

[565180 rows x 9 columns]

In [26]:
chum = np.array([5.90, 9.17, 20.30,
                     285.00, 1464.00 , 2475.60, 6631.20,
                     15468.00, 21684.00, 35328.00 , 44220.00]
               )/2.
    
df = xr.open_dataset(tempfiles[0]).to_dataframe()
df.press = df.press * 100.
###
df = df[df.press.isin([5000,7000,10000,15000,20000,25000,30000,40000,50000,70000,85000])]
df = df[df.datum > '1979']
df = df.rename({'datum':'time', 'press':'plev'}, axis='columns')

all_dfta = df
all_dfta = all_dfta.rename({'temperatures':'ta'}, axis='columns')

all_dfsh = all_dfta
all_dfsh = all_dfsh.rename({'ta':'hus'}, axis='columns')
dfsh = all_dfsh.groupby(['plev']).aggregate({"hus":np.mean})
pl = [5000,7000,10000,15000,20000,25000,30000,40000,50000,70000,85000]
for i in range(len(pl)):
    for j in range(len(dfsh)):
        if dfsh.index[j] == pl[i]:
            dfsh.hus.iloc[j] = chum[i]
            
tadata = []
daydata = []
datedata = []
humdata = []
eradata = []
chandata = []
pressdata = []
mondata = []

tadata34 = []
daydata34 = []
datedata34 = []
humdata34 = []
eradata34 = []
chandata34 = []
pressdata34 = []
mondata34 = []

wholemon = []

for day in [True,False]:
    if day:
        dn_dfta = all_dfta[all_dfta.index.get_level_values('hour') == 12]
    else:
        dn_dfta = all_dfta[all_dfta.index.get_level_values('hour') == 0]

    for yr in range(1979,2022,1):
        for mon in range(int(str(yr)+'01'), int(str(yr)+'13'), 1):
            wholemon.append(mon)
            ###############
            ##############
            ############
            dfta = dn_dfta.loc[(dn_dfta['time'].dt.year==int(str(mon)[:4])) & (dn_dfta['time'].dt.month==int(str(mon)[-2:]))]
            df = dfta

In [28]:
mon_mean = df.groupby(['plev']).aggregate({"ta":np.mean})
reduced_sh = dfsh

In [30]:
mon_mean

                 ta
plev
5000.0   209.546814
7000.0   211.827408
10000.0  213.266663
15000.0  214.461670
20000.0  213.550003
25000.0  216.215164
30000.0  222.686768
40000.0  237.577423
50000.0  249.295807
70000.0  264.430634
85000.0  271.360321

In [23]:
all_dfta[all_dfta.index.get_level_values('hour') == 0]

                                plev       time          ta  era5_fgdep  \
hour pressure time  station
0    3        9987  0         5000.0 1979-01-02  218.500000   -3.987940
              9988  0         5000.0 1979-01-03  220.100006   -1.880280
              9989  0         5000.0 1979-01-04  220.699997    3.131361
              9990  0         5000.0 1979-01-05  217.699997   -2.196330
              9991  0         5000.0 1979-01-06  213.500000   -2.240267
...                              ...        ...         ...         ...
     13       25685 0        85000.0 2021-12-27  272.820007   -1.039697
              25686 0        85000.0 2021-12-28  277.809998   -1.836874
              25687 0        85000.0 2021-12-29  273.779999    0.520644
              25688 0        85000.0 2021-12-30  272.929993    0.087398
              25689 0        85000.0 2021-12-31  278.279999    0.633572

                             bias_estimate    lat        lon sonde_type  hours
hour pressure time  station
0    3        9987  0            -0.068680  48.25  16.370001    b'Z0m '      0
              9988  0            -0.068680  48.25  16.370001    b'Z0m '      0
              9989  0            -0.068680  48.25  16.370001    b'Z0m '      0
              9990  0            -0.068681  48.25  16.370001    b'Z0m '      0
              9991  0            -0.068681  48.25  16.370001    b'Z0m '      0
...                                    ...    ...        ...        ...    ...
     13       25685 0             0.000000  48.25  16.370001    b'141.'     23
              25686 0             0.000000  48.25  16.370001    b'141.'     23
              25687 0             0.000000  48.25  16.370001    b'141.'     23
              25688 0             0.000000  48.25  16.370001    b'141.'     23
              25689 0             0.000000  48.25  16.370001    b'141.'     23

[172733 rows x 9 columns]

In [25]:
all_dfta[all_dfta.time.dt.month == 11]

                                plev       time          ta  era5_fgdep  \
hour pressure time  station
0    3        10290 0         5000.0 1979-11-01         NaN         NaN
              10291 0         5000.0 1979-11-02         NaN         NaN
              10292 0         5000.0 1979-11-03  210.300003    0.611425
              10293 0         5000.0 1979-11-04  208.899994   -2.037334
              10294 0         5000.0 1979-11-05  206.300003   -0.234073
...                              ...        ...         ...         ...
12   13       25654 0        85000.0 2021-11-26  269.489990    0.643448
              25655 0        85000.0 2021-11-27  269.649994    1.796257
              25656 0        85000.0 2021-11-28  270.390015   -0.328524
              25657 0        85000.0 2021-11-29  266.609985    0.413201
              25658 0        85000.0 2021-11-30  268.179993   -0.298939

                             bias_estimate    lat        lon sonde_type  hours
hour pressure time  station
0    3        10290 0             0.000000  48.25  16.370001     b'nan'      0
              10291 0             0.000000  48.25  16.370001     b'nan'      0
              10292 0            -0.818565  48.25  16.370001    b'Z0m '      0
              10293 0            -0.818565  48.25  16.370001    b'Z0m '      0
              10294 0            -0.818565  48.25  16.370001    b'Z0m '      0
...                                    ...    ...        ...        ...    ...
12   13       25654 0             0.000000  48.25  16.370001    b'141.'     12
              25655 0             0.000000  48.25  16.370001    b'163.'     11
              25656 0             0.000000  48.25  16.370001    b'163.'     11
              25657 0             0.000000  48.25  16.370001    b'163.'     11
              25658 0             0.000000  48.25  16.370001    b'141.'     11

[28380 rows x 9 columns]

In [36]:
statlist = glob.glob('/mnt/ssdraid/scratch/leo/rise/1.0/exp01/*/feedbackmerged*.nc')

In [35]:
statlist[0].split('.nc')[0][-5:]

'72215'

In [40]:
np.sort(statlist)[:35]

array(['/mnt/ssdraid/scratch/leo/rise/1.0/exp01/0-0507/feedbackmerged0-0507.nc',
       '/mnt/ssdraid/scratch/leo/rise/1.0/exp01/0-3150/feedbackmerged0-3150.nc',
       '/mnt/ssdraid/scratch/leo/rise/1.0/exp01/0-3152/feedbackmerged0-3152.nc',
       '/mnt/ssdraid/scratch/leo/rise/1.0/exp01/0-3189/feedbackmerged0-3189.nc',
       '/mnt/ssdraid/scratch/leo/rise/1.0/exp01/0-3938/feedbackmerged0-3938.nc',
       '/mnt/ssdraid/scratch/leo/rise/1.0/exp01/0-4665/feedbackmerged0-4665.nc',
       '/mnt/ssdraid/scratch/leo/rise/1.0/exp01/0-4673/feedbackmerged0-4673.nc',
       '/mnt/ssdraid/scratch/leo/rise/1.0/exp01/0-4679/feedbackmerged0-4679.nc',
       '/mnt/ssdraid/scratch/leo/rise/1.0/exp01/0-4681/feedbackmerged0-4681.nc',
       '/mnt/ssdraid/scratch/leo/rise/1.0/exp01/0-4685/feedbackmerged0-4685.nc',
       '/mnt/ssdraid/scratch/leo/rise/1.0/exp01/0-4688/feedbackmerged0-4688.nc',
       '/mnt/ssdraid/scratch/leo/rise/1.0/exp01/0-4698/feedbackmerged0-4698.nc',
       '/mnt/ssdraid/scratch/leo/rise/1.0/exp01/0-4699/feedbackmerged0-4699.nc',
       '/mnt/ssdraid/scratch/leo/rise/1.0/exp01/0-4700/feedbackmerged0-4700.nc',
       '/mnt/ssdraid/scratch/leo/rise/1.0/exp01/0-4701/feedbackmerged0-4701.nc',
       '/mnt/ssdraid/scratch/leo/rise/1.0/exp01/0-4711/feedbackmerged0-4711.nc',
       '/mnt/ssdraid/scratch/leo/rise/1.0/exp01/0-4716/feedbackmerged0-4716.nc',
       '/mnt/ssdraid/scratch/leo/rise/1.0/exp01/0-4723/feedbackmerged0-4723.nc',
       '/mnt/ssdraid/scratch/leo/rise/1.0/exp01/0-4755/feedbackmerged0-4755.nc',
       '/mnt/ssdraid/scratch/leo/rise/1.0/exp01/0-5273/feedbackmerged0-5273.nc',
       '/mnt/ssdraid/scratch/leo/rise/1.0/exp01/0-5286/feedbackmerged0-5286.nc',
       '/mnt/ssdraid/scratch/leo/rise/1.0/exp01/0-5492/feedbackmerged0-5492.nc',
       '/mnt/ssdraid/scratch/leo/rise/1.0/exp01/0-5697/feedbackmerged0-5697.nc',
       '/mnt/ssdraid/scratch/leo/rise/1.0/exp01/000073/feedbackmerged000073.nc',
       '/mnt/ssdraid/scratch/leo/rise/1.0/exp01/001001/feedbackmerged001001.nc',
       '/mnt/ssdraid/scratch/leo/rise/1.0/exp01/001002/feedbackmerged001002.nc',
       '/mnt/ssdraid/scratch/leo/rise/1.0/exp01/001003/feedbackmerged001003.nc',
       '/mnt/ssdraid/scratch/leo/rise/1.0/exp01/001004/feedbackmerged001004.nc',
       '/mnt/ssdraid/scratch/leo/rise/1.0/exp01/001009/feedbackmerged001009.nc',
       '/mnt/ssdraid/scratch/leo/rise/1.0/exp01/001010/feedbackmerged001010.nc',
       '/mnt/ssdraid/scratch/leo/rise/1.0/exp01/001013/feedbackmerged001013.nc',
       '/mnt/ssdraid/scratch/leo/rise/1.0/exp01/001020/feedbackmerged001020.nc',
       '/mnt/ssdraid/scratch/leo/rise/1.0/exp01/001025/feedbackmerged001025.nc',
       '/mnt/ssdraid/scratch/leo/rise/1.0/exp01/001028/feedbackmerged001028.nc',
       '/mnt/ssdraid/scratch/leo/rise/1.0/exp01/001037/feedbackmerged001037.nc'],
      dtype='<U70')