In [1]:
import numpy
import numpy as np
import pandas as pd
import sys, glob
import urllib3
import h5py
import cdsapi, zipfile, os, time
import warnings
import shutil
import xarray
from datetime import date
warnings.filterwarnings('ignore')
import pycountry
sys.path.append(os.getcwd()+'/../cds-backend/code/')
import cds_eua3 as eua
# import numbaprocess
import copy
import glob
from numba import njit
import pandas
import glob
import pickle
import matplotlib


def request(rqdict, source, remove_file=True):
    t0 = time.time()

    c = cdsapi.Client()
    r = c.retrieve(
        source,rqdict)
    print('Request took: ' + str(time.time() - t0) + ' seconds')
    if True:
        r.download(target='download.zip')
        assert os.stat('download.zip').st_size == r.content_length, "Downloaded file is incomplete"
    z = zipfile.ZipFile('download.zip')
    z.extractall(path='./download/')
    z.close()
    
    
    files = glob.glob('./download/*.*')
    print(files)
    # nc
    if 'nc' in files[0].split('.')[-1]:
        ds = xarray.open_dataset(files[0])            
        data = ds.to_dataframe()
        for i in files[1:]:
            ds = xarray.open_dataset(i)            
            data = data.append(ds.to_dataframe())
    # csv
    else:
        data = pd.read_csv(files[0], header=12, index_col=False)
        for i in files[1:]:
            ds = pd.read_csv(i, header=12, index_col=False)  
            data = data.append(ds.to_dataframe())
            
    os.remove('download.zip')
    if remove_file:
        try:
           shutil.rmtree('./download/')
        except:
           print('Error while deleting directory')

    return data

igra = 'insitu-observations-igra-baseline-network'

out = request({
    'source': 'IGRA',
    'variable':['relative_humidity'],
    'period':'1990-01-01/1990-01-02',
    'station_name':'AUM00011035',
    'format': 'csv-lev.zip',
},igra, remove_file=True)
display(out)

out = request({
    'source': 'IGRA_H',
    'variable':['relative_humidity'],
    'period':'1990-01-01/1990-01-02',
    'station_name':'AUM00011035',
    'format': 'csv-lev.zip',
},igra, remove_file=True)
display(out)

out = request({
    'source': 'IGRA',
    'variable':['relative_humidity'],
    'period':'1990-01-01/1990-01-02',
    'station_name':'AUM00011035',
},igra, remove_file=True)
display(out)

out = request({
    'source': 'IGRA_H',
    'variable':['relative_humidity'],
    'period':'1990-01-01/1990-01-02',
    'station_name':'AUM00011035',
},igra, remove_file=True)
display(out)

2021-02-26 17:46:22,711 INFO Welcome to the CDS
2021-02-26 17:46:22,711 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-observations-igra-baseline-network
2021-02-26 17:46:22,809 INFO Request is completed
2021-02-26 17:46:22,809 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.insitu_reference.retrieve_test-1614357889.112428-2187-15-a19cf349-e776-48e3-8151-afe7a192cfce.zip to download.zip (793)
2021-02-26 17:46:22,870 INFO Download rate 12.9K/s

Request took: 0.21666455268859863 seconds
['./download/IGRA_not setnot setnot set_not setnot setnot set_global_cdm-lev.csv']

,station_name,report_timestamp,report_id,longitude,latitude,air_pressure,relative_humidity
0,AUM00011035,1990-01-02 00:00:00+00,28143588,16.3564,48.2486,99800,NaN
1,AUM00011035,1990-01-02 00:00:00+00,28143588,16.3564,48.2486,98500,NaN
2,AUM00011035,1990-01-02 00:00:00+00,28143588,16.3564,48.2486,96100,NaN
3,AUM00011035,1990-01-02 00:00:00+00,28143588,16.3564,48.2486,96000,NaN
4,AUM00011035,1990-01-02 00:00:00+00,28143588,16.3564,48.2486,93700,NaN
5,AUM00011035,1990-01-02 00:00:00+00,28143588,16.3564,48.2486,92400,NaN
6,AUM00011035,1990-01-02 00:00:00+00,28143588,16.3564,48.2486,89800,NaN
7,AUM00011035,1990-01-02 00:00:00+00,28143588,16.3564,48.2486,88600,NaN
8,AUM00011035,1990-01-02 00:00:00+00,28143588,16.3564,48.2486,87500,NaN
9,AUM00011035,1990-01-02 00:00:00+00,28143588,16.3564,48.2486,85000,NaN
10,AUM00011035,1990-01-02 00:00:00+00,28143588,16.3564,48.2486,81000,NaN
11,AUM00011035,1990-01-02 00:00:00+00,28143588,16.3564,48.2486,77300,NaN
12,AUM00011035,1990-01-02 00:00:00+00,28143588,16.3564,48.2486,74000,NaN
13,AUM00011035,1990-01-02 00:00:00+00,28143588,16.3564,48.2486,70000,NaN
14,AUM00011035,1990-01-02 00:00:00+00,28143588,16.3564,48.2486,53900,NaN
15,AUM00011035,1990-01-02 00:00:00+00,28143588,16.3564,48.2486,50000,NaN
16,AUM00011035,1990-01-02 00:00:00+00,28143588,16.3564,48.2486,49500,NaN
17,AUM00011035,1990-01-02 00:00:00+00,28143588,16.3564,48.2486,40600,NaN
18,AUM00011035,1990-01-02 00:00:00+00,28143588,16.3564,48.2486,40000,NaN
19,AUM00011035,1990-01-02 00:00:00+00,28143588,16.3564,48.2486,30000,NaN
20,AUM00011035,1990-01-02 00:00:00+00,28143588,16.3564,48.2486,26300,NaN
21,AUM00011035,1990-01-02 00:00:00+00,28143588,16.3564,48.2486,25000,NaN
22,AUM00011035,1990-01-02 00:00:00+00,28143588,16.3564,48.2486,24200,NaN
23,AUM00011035,1990-01-02 00:00:00+00,28143588,16.3564,48.2486,24000,NaN
24,AUM00011035,1990-01-02 00:00:00+00,28143588,16.3564,48.2486,20400,NaN
25,AUM00011035,1990-01-02 00:00:00+00,28143588,16.3564,48.2486,20000,NaN
26,AUM00011035,1990-01-02 00:00:00+00,28143588,16.3564,48.2486,19800,NaN
27,AUM00011035,1990-01-02 00:00:00+00,28143588,16.3564,48.2486,15000,NaN
28,AUM00011035,1990-01-02 00:00:00+00,28143588,16.3564,48.2486,14700,NaN
29,AUM00011035,1990-01-02 00:00:00+00,28143588,16.3564,48.2486,10000,NaN
30,AUM00011035,1990-01-02 00:00:00+00,28143588,16.3564,48.2486,8650,NaN
31,AUM00011035,1990-01-02 00:00:00+00,28143588,16.3564,48.2486,7440,NaN
32,AUM00011035,1990-01-02 00:00:00+00,28143588,16.3564,48.2486,7000,NaN
33,AUM00011035,1990-01-02 00:00:00+00,28143588,16.3564,48.2486,6400,NaN
34,AUM00011035,1990-01-02 00:00:00+00,28143588,16.3564,48.2486,5000,NaN
35,AUM00011035,1990-01-02 00:00:00+00,28143588,16.3564,48.2486,3630,NaN
36,AUM00011035,1990-01-02 00:00:00+00,28143588,16.3564,48.2486,3000,NaN
37,AUM00011035,1990-01-02 00:00:00+00,28143588,16.3564,48.2486,2490,NaN
38,AUM00011035,1990-01-02 00:00:00+00,28143588,16.3564,48.2486,2230,NaN
39,AUM00011035,1990-01-02 00:00:00+00,28143588,16.3564,48.2486,2000,NaN
40,AUM00011035,1990-01-02 00:00:00+00,28143588,16.3564,48.2486,1500,NaN
41,AUM00011035,1990-01-02 00:00:00+00,28143588,16.3564,48.2486,1100,NaN
42,AUM00011035,1990-01-02 00:00:00+00,28143588,16.3564,48.2486,1010,NaN

2021-02-26 17:46:22,963 INFO Welcome to the CDS
2021-02-26 17:46:22,963 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-observations-igra-baseline-network
2021-02-26 17:46:23,004 INFO Request is completed
2021-02-26 17:46:23,004 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.insitu_reference.retrieve_test-1614357932.5653353-1977-15-5e1a0dde-6f65-44d5-9ba3-fa5e64e870c7.zip to download.zip (871)

Request took: 0.06897306442260742 seconds

2021-02-26 17:46:23,035 INFO Download rate 28.1K/s

['./download/IGRA_H_not setnot setnot set_not setnot setnot set_global_cdm-lev.csv']

,station_name,report_timestamp,actual_time,report_id,longitude,latitude,height_of_station_above_sea_level,air_pressure,relative_humidity
0,AUM00011035,1990-01-02 00:00:00+00,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,40000,33.86
1,AUM00011035,1990-01-02 00:00:00+00,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,70000,27.60
2,AUM00011035,1990-01-02 00:00:00+00,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,30000,35.82
3,AUM00011035,1990-01-02 00:00:00+00,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,26300,33.55
4,AUM00011035,1990-01-02 00:00:00+00,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,7440,NaN
5,AUM00011035,1990-01-02 00:00:00+00,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,19800,NaN
6,AUM00011035,1990-01-02 00:00:00+00,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,2230,NaN
7,AUM00011035,1990-01-02 00:00:00+00,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,50000,23.43
8,AUM00011035,1990-01-02 00:00:00+00,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,99800,88.19
9,AUM00011035,1990-01-02 00:00:00+00,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,8650,NaN
10,AUM00011035,1990-01-02 00:00:00+00,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,7000,NaN
11,AUM00011035,1990-01-02 00:00:00+00,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,89800,93.97
12,AUM00011035,1990-01-02 00:00:00+00,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,77300,45.21
13,AUM00011035,1990-01-02 00:00:00+00,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,25000,37.62
14,AUM00011035,1990-01-02 00:00:00+00,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,24000,34.98
15,AUM00011035,1990-01-02 00:00:00+00,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,53900,20.73
16,AUM00011035,1990-01-02 00:00:00+00,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,15000,NaN
17,AUM00011035,1990-01-02 00:00:00+00,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,1010,NaN
18,AUM00011035,1990-01-02 00:00:00+00,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,3630,NaN
19,AUM00011035,1990-01-02 00:00:00+00,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,85000,24.82
20,AUM00011035,1990-01-02 00:00:00+00,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,3000,NaN
21,AUM00011035,1990-01-02 00:00:00+00,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,87500,23.36
22,AUM00011035,1990-01-02 00:00:00+00,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,10000,NaN
23,AUM00011035,1990-01-02 00:00:00+00,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,14700,NaN
24,AUM00011035,1990-01-02 00:00:00+00,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,2000,NaN
25,AUM00011035,1990-01-02 00:00:00+00,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,1100,NaN
26,AUM00011035,1990-01-02 00:00:00+00,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,74000,26.37
27,AUM00011035,1990-01-02 00:00:00+00,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,20000,NaN
28,AUM00011035,1990-01-02 00:00:00+00,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,96100,91.32
29,AUM00011035,1990-01-02 00:00:00+00,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,5000,NaN
30,AUM00011035,1990-01-02 00:00:00+00,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,88600,91.99

2021-02-26 17:46:23,114 INFO Welcome to the CDS
2021-02-26 17:46:23,115 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-observations-igra-baseline-network
2021-02-26 17:46:23,155 INFO Request is completed
2021-02-26 17:46:23,156 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data1/adaptor.insitu_reference.retrieve_test-1614357933.7463326-1835-13-e9b09d8a-fbbd-47fd-af16-df4ca97fe0fb.zip to download.zip (2.2K)
2021-02-26 17:46:23,186 INFO Download rate 72.2K/s

Request took: 0.06889462471008301 seconds
['./download/IGRA_relative_humidity.nc']

,station_name,report_timestamp,report_id,longitude,latitude,air_pressure,relative_humidity
index,,,,,,,
0,AUM00011035,1990-01-02,28143588,16.3564,48.2486,99800,NaN
1,AUM00011035,1990-01-02,28143588,16.3564,48.2486,98500,NaN
2,AUM00011035,1990-01-02,28143588,16.3564,48.2486,96100,NaN
3,AUM00011035,1990-01-02,28143588,16.3564,48.2486,96000,NaN
4,AUM00011035,1990-01-02,28143588,16.3564,48.2486,93700,NaN
5,AUM00011035,1990-01-02,28143588,16.3564,48.2486,92400,NaN
6,AUM00011035,1990-01-02,28143588,16.3564,48.2486,89800,NaN
7,AUM00011035,1990-01-02,28143588,16.3564,48.2486,88600,NaN
8,AUM00011035,1990-01-02,28143588,16.3564,48.2486,87500,NaN
9,AUM00011035,1990-01-02,28143588,16.3564,48.2486,85000,NaN
10,AUM00011035,1990-01-02,28143588,16.3564,48.2486,81000,NaN
11,AUM00011035,1990-01-02,28143588,16.3564,48.2486,77300,NaN
12,AUM00011035,1990-01-02,28143588,16.3564,48.2486,74000,NaN
13,AUM00011035,1990-01-02,28143588,16.3564,48.2486,70000,NaN
14,AUM00011035,1990-01-02,28143588,16.3564,48.2486,53900,NaN
15,AUM00011035,1990-01-02,28143588,16.3564,48.2486,50000,NaN
16,AUM00011035,1990-01-02,28143588,16.3564,48.2486,49500,NaN
17,AUM00011035,1990-01-02,28143588,16.3564,48.2486,40600,NaN
18,AUM00011035,1990-01-02,28143588,16.3564,48.2486,40000,NaN
19,AUM00011035,1990-01-02,28143588,16.3564,48.2486,30000,NaN
20,AUM00011035,1990-01-02,28143588,16.3564,48.2486,26300,NaN
21,AUM00011035,1990-01-02,28143588,16.3564,48.2486,25000,NaN
22,AUM00011035,1990-01-02,28143588,16.3564,48.2486,24200,NaN
23,AUM00011035,1990-01-02,28143588,16.3564,48.2486,24000,NaN
24,AUM00011035,1990-01-02,28143588,16.3564,48.2486,20400,NaN
25,AUM00011035,1990-01-02,28143588,16.3564,48.2486,20000,NaN
26,AUM00011035,1990-01-02,28143588,16.3564,48.2486,19800,NaN
27,AUM00011035,1990-01-02,28143588,16.3564,48.2486,15000,NaN
28,AUM00011035,1990-01-02,28143588,16.3564,48.2486,14700,NaN
29,AUM00011035,1990-01-02,28143588,16.3564,48.2486,10000,NaN
30,AUM00011035,1990-01-02,28143588,16.3564,48.2486,8650,NaN
31,AUM00011035,1990-01-02,28143588,16.3564,48.2486,7440,NaN
32,AUM00011035,1990-01-02,28143588,16.3564,48.2486,7000,NaN
33,AUM00011035,1990-01-02,28143588,16.3564,48.2486,6400,NaN
34,AUM00011035,1990-01-02,28143588,16.3564,48.2486,5000,NaN
35,AUM00011035,1990-01-02,28143588,16.3564,48.2486,3630,NaN
36,AUM00011035,1990-01-02,28143588,16.3564,48.2486,3000,NaN
37,AUM00011035,1990-01-02,28143588,16.3564,48.2486,2490,NaN
38,AUM00011035,1990-01-02,28143588,16.3564,48.2486,2230,NaN
39,AUM00011035,1990-01-02,28143588,16.3564,48.2486,2000,NaN
40,AUM00011035,1990-01-02,28143588,16.3564,48.2486,1500,NaN
41,AUM00011035,1990-01-02,28143588,16.3564,48.2486,1100,NaN
42,AUM00011035,1990-01-02,28143588,16.3564,48.2486,1010,NaN

2021-02-26 17:46:23,294 INFO Welcome to the CDS
2021-02-26 17:46:23,294 INFO Sending request to https://sis-dev.climate.copernicus.eu/api/v2/resources/insitu-observations-igra-baseline-network
2021-02-26 17:46:23,336 INFO Request is completed
2021-02-26 17:46:23,337 INFO Downloading http://136.156.132.176/cache-compute-0002/cache/data2/adaptor.insitu_reference.retrieve_test-1614357934.9818702-2232-12-a5a008f2-249d-4807-a3eb-a43a72178e41.zip to download.zip (2.7K)

Request took: 0.07079243659973145 seconds

2021-02-26 17:46:23,367 INFO Download rate 90.3K/s

['./download/IGRA_H_relative_humidity.nc']

,station_name,report_timestamp,actual_time,report_id,longitude,latitude,height_of_station_above_sea_level,air_pressure,relative_humidity
index,,,,,,,,,
0,AUM00011035,1990-01-02,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,40000,33.860001
1,AUM00011035,1990-01-02,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,70000,27.600000
2,AUM00011035,1990-01-02,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,30000,35.820000
3,AUM00011035,1990-01-02,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,26300,33.549999
4,AUM00011035,1990-01-02,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,7440,NaN
5,AUM00011035,1990-01-02,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,19800,NaN
6,AUM00011035,1990-01-02,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,2230,NaN
7,AUM00011035,1990-01-02,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,50000,23.430000
8,AUM00011035,1990-01-02,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,99800,88.190002
9,AUM00011035,1990-01-02,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,8650,NaN
10,AUM00011035,1990-01-02,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,7000,NaN
11,AUM00011035,1990-01-02,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,89800,93.970001
12,AUM00011035,1990-01-02,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,77300,45.209999
13,AUM00011035,1990-01-02,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,25000,37.619999
14,AUM00011035,1990-01-02,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,24000,34.980000
15,AUM00011035,1990-01-02,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,53900,20.730000
16,AUM00011035,1990-01-02,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,15000,NaN
17,AUM00011035,1990-01-02,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,1010,NaN
18,AUM00011035,1990-01-02,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,3630,NaN
19,AUM00011035,1990-01-02,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,85000,24.820000
20,AUM00011035,1990-01-02,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,3000,NaN
21,AUM00011035,1990-01-02,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,87500,23.360001
22,AUM00011035,1990-01-02,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,10000,NaN
23,AUM00011035,1990-01-02,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,14700,NaN
24,AUM00011035,1990-01-02,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,2000,NaN
25,AUM00011035,1990-01-02,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,1100,NaN
26,AUM00011035,1990-01-02,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,74000,26.370001
27,AUM00011035,1990-01-02,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,20000,NaN
28,AUM00011035,1990-01-02,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,96100,91.320000
29,AUM00011035,1990-01-02,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,5000,NaN
30,AUM00011035,1990-01-02,1990-01-02 00:00:00+00,9454078,16.3564,48.2486,200,88600,91.989998